<!--
  Generated template for the CancelDriftPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding id="cancelDrift">
  <img class="backarrow" src="assets/img/leftarrow.png" (click) = "goBack()"/>
  <div class="text-area">
    <textarea placeholder="{{'Placeholder.CancelDrift' | translate: transparam}}" (keyup)="changeMessage()" (keypress)="changeMessage()" [(ngModel)]="message" maxlength="180"></textarea>
    <div id="count">({{messageCount}}/180)</div>
  </div>
  <ion-row class="button-area">
    <ion-col>
      <ion-list no-lines>
        <ion-item>
          <button class="drift-btn" ion-button round type="button" (click)="cancelDrift()">{{'Button.CancelDrift' | translate}}</button>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
