<!--
  Generated template for the RegisterCarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content id="registerCar">
	<h2>{{'Label.SweetRide' | translate}}</h2>
	<form (ngSubmit)="carDone('update')" #carForm="ngForm">
    <div class="input-area">
	    <ion-row>
	    	<ion-col col-4>{{'Label.PlateNumber' | translate}}</ion-col>
	    	<ion-col col-8>
	    		<ion-input type="text" name="platenumber" [(ngModel)]="vehicles.platenumber" required></ion-input>
	    	</ion-col>
	    </ion-row>
	    <ion-row>
	    	<ion-col col-4>{{'Label.CarModel' | translate}}</ion-col>
	    	<ion-col col-8>
	    		<ion-input type="text" name="carmodel" [(ngModel)]="vehicles.carmodel" required></ion-input>
	    	</ion-col>
	    </ion-row>
    </div>
    <div class="image-area" (click)="showActionSheet()">
    	<img src={{vehicles.picture}}/>
    </div>
    <div class="button-area">
      <ion-row>
        <button class="drift-btn" ion-button round type="button" (click)="carDone('later')">{{'Button.TooLazy' | translate}}</button>
      </ion-row>
      <ion-row>
        <button class="drift-btn" ion-button round type="button" (click)="carDone('donot')">{{'Button.DonotHave' | translate}}</button>
      </ion-row>
      <ion-row>
        <button class="drift-btn" ion-button round type="submit">{{'Button.Done' | translate}}</button>
      </ion-row>
    </div>
  </form>
</ion-content>
