page-register-car {
	#registerCar {
		text-align: center;
		h2 {
		    margin-top: 40px;
		}
		input {
      border: none;
      background-color: #e3eff1;
      width: 100%;
      min-height: 25px;
      padding: 10px;
      margin: 0px;
    }
    button.drift-btn {
      min-width: 200px;
      width: 45%;
      margin: 5px auto;
      font-size: 18px;
    }
    .row {
      min-height: 40px;
      text-align: left;
      padding: 0px 20px;
      margin-right: 0px;
      margin-right: 0px;
    }
    .image-area {
  	  width: 100%;
  		margin: 10px 0px;
  		padding: 10px;
  		img{
  			width: 100%;
  		}
    }
	}
}
