<!--
  Generated template for the ProfileMainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons class="arrow-button" left (click)="goBack()">
      <button ion-button>
        <img src="assets/img/leftarrow.png" />
      </button>
    </ion-buttons>
    <ion-title>
      <div class="name">{{userInfo.firstname}}</div>
      <div class="profession">{{userInfo.profession}}</div>
    </ion-title>
    <ion-buttons class="menu-button" right>
      <button ion-button menuToggle>
        <img src="assets/img/menu.png" />
        <span *ngIf="getTotalRequestCount() > 0" class="badge">{{getTotalRequestCount()}}</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding id="profileMain">
  <div class="image-area">
    <img class="no-image" src="assets/img/no-image.png" *ngIf = "userImages.length == 0"/>
    <ion-slides pager *ngIf = "userImages.length > 0">
      <ion-slide *ngFor="let img of userImages">
        <img src="{{img.url}}" />
      </ion-slide>
    </ion-slides>
  </div>
  <div class="about-area">
    {{userInfo.about}}
  </div>
  <button class="drift-btn editprofile" ion-button round (click) = "goEdit()">
    {{'Button.EditProfile' | translate}}
  </button>
  <div class="perk-area">
    <div class="area-title">
      {{'Label.MyLittlePerks' | translate}}
    </div>
    <div class="perk-list">
      <div class="no-perk" *ngIf = "perks.length == 0">
        {{'Label.NoPerk' | translate}}
      </div>
      <div class="perk-item" *ngFor="let perk of perks let i = index">
        <div class="item-area" *ngIf="!((i >= 4) && showPerksMore)">
          <img src="{{perk.icon}}"/>
          <p>{{ perk.name | translate}}</p>
        </div>
      </div>
      <div class="perk-more" *ngIf="showPerksMore">
        <button ion-button outline round (click)="clickPerksMore()">{{'Button.More' | translate}}</button>
      </div>
    </div>
  </div>
  <div class="reference-area">
    <div class="area-title">
      {{'Label.MyReferences' | translate}}
    </div>
    <div class="reference-list">
      <ion-row>
        <ion-col col-6>
          <img src="assets/img/uparrow.png"/>
          <span>({{userInfo.upvotes}})</span>
        </ion-col>
        <ion-col col-6>
          <img src="assets/img/downarrow.png"/>
          <span>({{userInfo.downvotes}})</span>
        </ion-col>
      </ion-row>
      <ion-row class="no-review" *ngIf="reviews.length == 0">
        {{'Label.NoReview' | translate}}
      </ion-row>
      <ion-row class="review" *ngFor="let review of reviews">
        {{review.text}}
      </ion-row>
      <div class="read-more" *ngIf="showReviewsMore">
        <button ion-button outline round (click)="goReviews()">{{'Button.ReadMore' | translate}}</button>
      </div>
    </div>
  </div>
  <div class="journeys-area" (click)="goJourneys()">
    <div class="area-title">
      {{'Label.YourJourneys' | translate}}
    </div>
    <img class="journey-background" src="{{journeyplaceholderpicture}}"/>
    <div class="journey-count">{{userInfo.journeycount}}</div>
  </div>
  <div class="friends-area">
    <div class="area-title">
      {{'Label.YourFriends' | translate}} <span class="badge" *ngIf="userInfo.opencompanionrequestcount > 0">{{userInfo.opencompanionrequestcount}}</span>
    </div>
    <div class="friends-slide">
      <div class="friends-list">
        <div class="no-friend" *ngIf="companions.length == 0">
          {{'Label.NoFriend' | translate}}
        </div>
        <div class="friend" *ngFor="let companion of companions" (click)="goUser(companion)">
          <img src="{{companion.pictureurl}}" />
          <div>{{companion.nickname}}</div>
        </div>
      </div>
      <div class="nextarrow" (click)="goCompanions()">
        <img src="assets/img/rightarrow.png"/>
      </div>
    </div>
  </div>
</ion-content>
