page-profile-main {
  #profileMain {
    color: #999;
    .row {
      margin-right: 0px;
      margin-left: 0px;
    }
    .hide {
      display: none;
    }
    .no-review, .no-perk, .no-friend{
      text-align: center;
      margin: 20px auto;
      font-size: 15px;
    }
    .image-area {
      .slides {
        height: 350px;
      }
      .slide-zoom {
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .no-image {
        height: 350px;
        width: 100%;
      }
      .swiper-container-horizontal > .swiper-pagination-bullets{
        top: 15px;
      }
      .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        background-color: #eee;
        opacity: 0.8;
      }
      .swiper-pagination-bullet-active {
        background-color: #a4cbd1;
      }
      .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{
        margin: 0 10px;
      }
    }
    .about-area {
      margin: 10px auto;
      border: 2px solid #a4cbd1;
      padding: 10px;
      min-height: 120px;
      font-size: 18px;
    }
    button.editprofile {
      width: 55%;
      min-width: 200px;
      line-height: 40px;
      height: 45px;
      font-size: 27px;
      margin: 20px auto;
      background-color: #efa2a2;
    }
    .area-title {
      text-align: center;
      font-size: 25px;
      margin: 25px auto;
      color: #a4cbd1;
      .badge {
        position: static;
      }
    }
    .perk-more, .read-more {
      text-align: right;
      button {
        color: #a4cbd1;
        border-color: #a4cbd1;
        text-transform: none;
      }
      button.activated{
        color: white;
        background-color: #a4cbd1;
      }
    }
    .perk-area {
      .perk-list {
        background-color: #e3eff1;
        padding: 10px;
      }
      .perk-item {
        display: inline-block;
        width: calc(50% - 20px);
        margin: 10px;
        .item-area {
          img {
            width: 35%;
            display: inline-block;
            vertical-align: middle;
            opacity: .8;
          }
          p {
            width: 50%;
            font-size: 16px;
            display: inline-block;
            vertical-align: middle;
            opacity: .8;
          }
        }
      }
    }
    .reference-area {
      .reference-list {
        background-color: #ecf4f5;
        padding: 10px;
        .col {
          text-align: center;
        }
        img {
          width: 60px;
          vertical-align: middle;
        }
        span {
          font-size: 15px;
          vertical-align: middle;
        }
        .review {
          font-size: 18px;
          padding: 10px 0px;
          min-height: 50px;
          margin-top: 20px;
        }
      }
    }
    .journeys-area {
      .journey-background {
        width: 100%;
        height: 300px;
      }
      .journey-count {
        margin-top: -175px;
        margin-bottom: 155px;
        font-size: 40px;
        text-align: center;
        color: #eee;
        opacity: .8;
        font-weight: bold;
      }
    }
    .friends-area {
      .friends-slide {
        border: 2px solid #a4cbd1;
        padding: 10px 0px 10px 10px;
      }
      .friends-list {
        display: inline-block;
        width: calc(100% - 50px);
        vertical-align: middle;
        overflow: scroll;
        white-space: nowrap;
      }
      .friend {
        display: inline-block;
        width: 60px;
        text-align: center;
        margin: 0px 3px;
        font-size: 12px;
        img {
          width: 100%;
          height: 80px;
        }
      }
      .nextarrow {
        width: 40px;
        display: inline-block;
        vertical-align: middle;
        text-align: right;
        img {
          width: 30px;
        }
      }
    }
  }
}
