<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content id="login">
	<div>
      <img class="logo" src="assets/img/logo.png" />
  </div>
  <div id="login-box">
      <form (ngSubmit)="login()" #loginForm="ngForm">
        <ion-row class="input-area">
          <ion-col>
            <ion-list no-lines>
              <ion-item>
                <ion-input class="login-input" type="email" name="email" placeholder="{{'Placeholder.Email' | translate}}" [(ngModel)]="credentials.email" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input class="login-input" type="password" name="password" placeholder="{{'Placeholder.Password' | translate}}" [(ngModel)]="credentials.password" required></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row class="button-area">
          <ion-col>
            <ion-list no-lines>
              <ion-item>
                <button ion-button class="drift-btn" round type="submit">{{'Button.Login' | translate}}</button>
              </ion-item>
              <ion-item>
                <button ion-button class="drift-btn" round type="button" (click)="goRegister()">{{'Button.Register' | translate}}</button>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </form>
  </div>
</ion-content>
