page-login {
	#login {
		background-image:url('../assets/img/login.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    text-align:center;
    img {
    	width: 60%;
    	margin-top: 15%;
    }
    .input-area {
    	.item {
	  		background-color: transparent;
	  		padding: 0px;
	  		margin: 15px 0px;
	  		box-shadow: none;
	  		border: none;
	    }
	    .item-inner {
	    	box-shadow: none;
	    }
	    .list {
	    	width: 80%;
	  		margin: auto;
	    }
	    .text-input {
		    margin: 8px 12px;
		    font-size: 20px;
		  }
    }
    .button-area {
    	.list {
	  		margin: auto;
	    }
	    .item {
	  		background-color: transparent;
	  		padding: 0px;
	  		margin: 0px;
	  		box-shadow: none;
	    }
	    .item-inner {
	    	box-shadow: none;
	    }
	    .label {
    	  margin: 0px;
  			padding: 5px 10px;
	    }
	    button {
        width: 45%;
        min-width: 150px;
        line-height: 40px;
        min-height: 45px;
        font-size: 22px;
        margin: 5px auto;
	    }
    }
	}
}
