page-driver-no-destination {
  .header {
    .toolbar {
      height: 85px;
    }
  }
  .toolbar .select-button button{
    font-size: 22px;
  }
  #driverNoDestinationMap {
    .driver_no_destination_map {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0px;
      bottom: 0px;
    }
    .scroll-content {
      overflow: hidden;
    }
    .community{
      position: fixed;
      bottom: 20px;
      left: 25%;
      width: calc(50% - 20px);
      background-color: white;
      border-radius: 30px;
      padding-left: 10px;
    }
  }
}
