page-profile-journey {
  #profileJourney {
    text-align: center;
    .no-journey {
      font-size: 15px;
    }
    img {
      width: 100%;
      height: 350px;
    }
    .other {
      text-align: center;
      font-size: 20px;
      margin: 10px auto;
    }
    .drift {
      text-align: center;
      font-size: 18px;
    }
  }
}
