<!--
  Generated template for the ProfileJourneyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons class="arrow-button" left (click)="goBack()">
      <button ion-button>
        <img src="assets/img/leftarrow.png" />
      </button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="myjourney">{{'Label.MyJourney' | translate}}</span>
      <span *ngIf="!myjourney">{{'Label.UserJourney' | translate: transparam}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding id="profileJourney">
  <div class="no-journey" *ngIf="noJourney">
    <span *ngIf="myjourney">{{'Label.NoJourney' | translate}}</span>
    <span *ngIf="!myjourney">{{'Label.UserNoJourney' | translate: transparam}}</span>
  </div>
  <ion-list no-lines>
    <ion-item class="journey" *ngFor="let drift of drifts" (click)="goPhoto(drift)">
      <img src="{{drift.coverpictureurl}}" />
      <div class="other"></div>
      <div class="drift">
        <span class="start">{{drift.startcaption}}</span>-<span class="end">{{drift.endcaption}}</span>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
