page-register-form {
  #registerForm {
    .row {
      margin-right: 0px;
      margin-left: 0px;
    }
    .label {
      font-weight: normal;
      padding: 0px;
      white-space: normal;
      color: #000;
      text-align: left;
      font-size: 15px;
    }
    p {
      margin-top: 0px;
    }
    input {
      border: none;
      background-color: #e3eff1;
      width: 100%;
      min-height: 25px;
      padding-left: 5px;
      margin: 0px;
    }
    .tos {
      text-align: center;
      font-size: 18px;
      margin-bottom: 20px;
      color: #8ca8a9;
      text-decoration: underline;
      cursor: pointer;
    }
    .password-area {
      margin-top: 30px;
      margin-bottom: 25px;
    }
    .row {
      min-height: 55px;
    }
    .error-message {
      color: red;
    }
    .item-inner {
      border: none;
    }
    .select {
      padding: 3px 10px;
      background-color: #e3eff1;
      min-height: 25px;
      max-width: 100%;
    }
    .datetime {
      padding: 3px 10px;
      background-color: #e3eff1;
      min-height: 25px;
      max-width: 100%;
    }
    button.drift-btn {
      width: 35%;
      font-size: 27px;
      margin: 5px auto;
    }
    .label {
      white-space: normal;
    }
    .checkbox-icon{
      width: 21px;
      height: 21px;
      border-radius: 0px;
      border-width: 2px;
    }
    .checkbox-checked .checkbox-inner {
      left: 5px;
      top: 1px;
      position: absolute;
      width: 7px;
      height: 11px;
      border-width: 3px;
      border-top-width: 0;
      border-left-width: 0;
      border-style: solid;
      border-color: #fff;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .spinner{
      vertical-align: middle;
    }
  }
}
