<!--
  Generated template for the RegisterFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content id="registerForm" padding class="form-content" (swipeRight)="goLogin()">
  <form class="form" [formGroup]="registerFormGroup" (ngSubmit)="onSubmit()">
    <div formGroupName="genderGroup">
      <ion-row>
        <ion-col col-4>{{'Label.Gender' | translate}}</ion-col>
        <ion-col col-8>
          <ion-row>
            <ion-col>
              <p>{{'Label.Male' | translate}}</p>
              <ion-checkbox id="male" formControlName="male" (click)="onSelectGender('male')"></ion-checkbox>
            </ion-col>
            <ion-col>
              <p>{{'Label.Female' | translate}}</p>
              <ion-checkbox id="female" formControlName="female" (click)="onSelectGender('female')"></ion-checkbox>
            </ion-col>
            <ion-col>
              <p>{{'Label.Open' | translate}}</p>
              <ion-checkbox id="open" formControlName="open" (click)="onSelectGender('open')"></ion-checkbox>
            </ion-col>
          </ion-row>
          <div class="validation-errors">
            <ng-container>
              <div class="error-message" *ngIf="registerFormGroup.get('genderGroup').hasError('noSelect') && (registerFormGroup.get('genderGroup').get('male').touched || registerFormGroup.get('genderGroup').get('female').touched || registerFormGroup.get('genderGroup').get('open').touched || submitted)">
                {{'ValidationMessage.GenderGroup.NoSelect' | translate}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <ion-row>
      <ion-col col-4>{{'Label.Name' | translate}}</ion-col>
      <ion-col col-8>
        <input type="text" placeholder="Markus" formControlName="firstname"/>
        <div class="validation-errors">
          <ng-container>
            <div class="error-message" *ngIf="registerFormGroup.get('firstname').hasError('required') && (registerFormGroup.get('firstname').dirty || registerFormGroup.get('firstname').touched || submitted)">
              {{'ValidationMessage.FirstName.Required' | translate}}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>{{'Label.Nickname' | translate}}</ion-col>
      <ion-col col-8>
        <input type="text" formControlName="nickname"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>{{'Label.Surname' | translate}}</ion-col>
      <ion-col col-8>
        <input type="text" placeholder="Harjes" formControlName="lastname"/>
        <div class="validation-errors">
          <ng-container>
            <div class="error-message" *ngIf="registerFormGroup.get('lastname').hasError('required') && (registerFormGroup.get('lastname').dirty || registerFormGroup.get('lastname').touched || submitted)">
              {{'ValidationMessage.LastName.Required' | translate}}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>{{'Label.Profession' | translate}}</ion-col>
      <ion-col col-8>
        <input type="text" placeholder="free time lawyer" formControlName="profession"/>
        <div class="validation-errors">
          <ng-container>
            <div class="error-message" *ngIf="registerFormGroup.get('profession').hasError('required') && (registerFormGroup.get('profession').dirty || registerFormGroup.get('profession').touched || submitted)">
              {{'ValidationMessage.Profession.Required' | translate}}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>{{'Label.DateOfBirth' | translate}}</ion-col>
      <ion-col col-8>
        <ion-datetime displayFormat="DD.MM.YYYY" placeholder="01.01.1990" formControlName="birthdate"></ion-datetime>
        <div class="validation-errors">
          <ng-container>
            <div class="error-message" *ngIf="registerFormGroup.get('birthdate').invalid &&  submitted">
              {{'ValidationMessage.Birthdate.Required' | translate}}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>{{'Label.Email' | translate}}</ion-col>
      <ion-col col-8>
        <input type="email" placeholder="m.Harjes@web.de" formControlName="email" (blur)="checkEmail()" (keypress)="changeEmail()"/>
        <div class="validation-errors">
          <ng-container>
            <div class="error-message" *ngIf="registerFormGroup.get('email').hasError('required') && (registerFormGroup.get('email').dirty || registerFormGroup.get('email').touched || submitted) && !changingEmail">
              {{'ValidationMessage.Email.Required' | translate}}
            </div>
            <div class="error-message" *ngIf="registerFormGroup.get('email').hasError('pattern') && (registerFormGroup.get('email').dirty || registerFormGroup.get('email').touched || submitted) && !changingEmail">
              {{'ValidationMessage.Email.Pattern' | translate}}
            </div>
            <div [style.color] = "(checkEmailText == 'Label.EmailAvailable') ? '#138732' : '#ff0000'">
              <ion-spinner name="ios-small" *ngIf="checkEmailText == 'Label.Checking'"></ion-spinner>
              <span>{{checkEmailText | translate}}</span>
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>{{'Label.MobileNumber' | translate}}</ion-col>
      <ion-col col-8>
        <input (blur)="changingPhone=false;" (keypress)="changingPhone=true;" [textMask]="{mask: registerFormGroup.value.country.phoneMask}" placeholder="{{ registerFormGroup.value.country.samplePhone }}" type="tel" formControlName="phone"/>
        <div class="validation-errors">
          <ng-container>
            <div class="error-message" *ngIf="registerFormGroup.get('phone').hasError('required') && (registerFormGroup.get('phone').dirty || registerFormGroup.get('phone').touched || submitted) && !changingPhone">
              {{'ValidationMessage.Mobile.Required' | translate}}
            </div>
            <div class="error-message" *ngIf="registerFormGroup.get('phone').hasError('validCountryPhone') && (registerFormGroup.get('phone').dirty || registerFormGroup.get('phone').touched || submitted) && !changingPhone">
              {{'ValidationMessage.Mobile.ValidCountryPhone' | translate}}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>{{'Label.Address' | translate}}</ion-col>
      <ion-col col-8>
        <input type="text" placeholder="Sophienterasse 35" formControlName="address"/>
        <div class="validation-errors">
          <ng-container>
            <div class="error-message" *ngIf="registerFormGroup.get('address').hasError('required') && (registerFormGroup.get('address').dirty || registerFormGroup.get('address').touched || submitted)">
              {{'ValidationMessage.Address.Required' | translate}}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>{{'Label.ZipCode' | translate}}</ion-col>
      <ion-col col-8>
        <input type="number" placeholder="20149" formControlName="zip"/>
        <div class="validation-errors">
          <ng-container>
            <div class="error-message" *ngIf="registerFormGroup.get('zip').hasError('required') && (registerFormGroup.get('zip').dirty || registerFormGroup.get('zip').touched || submitted)">
              {{'ValidationMessage.ZipCode.Required' | translate}}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>{{'Label.City' | translate}}</ion-col>
      <ion-col col-8>
        <input type="text" placeholder="Berlin" formControlName="city"/>
        <div class="validation-errors">
          <ng-container>
            <div class="error-message" *ngIf="registerFormGroup.get('city').hasError('required') && (registerFormGroup.get('city').dirty || registerFormGroup.get('city').touched || submitted)">
              {{'ValidationMessage.City.Required' | translate}}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>{{'Label.Country' | translate}}</ion-col>
      <ion-col col-8>
        <ion-select formControlName="country" [selectOptions]="selectOptions" cancelText="{{'Button.Cancel' | translate}}" okText="{{'Button.Ok' | translate}}">
          <ion-option *ngFor="let item of countries" [value]="item" >{{item.name}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
    
    <div class="password-area" formGroupName="matchingPasswords">
      <ion-row>
        <ion-col col-4>{{'Label.Password' | translate}}</ion-col>
        <ion-col col-8>
          <input (blur)="changingPassword=false;" (keypress)="changingPassword=true;" type="password" formControlName="password"/>
          <div class="validation-errors">
            <ng-container>
              <div class="error-message" *ngIf="registerFormGroup.get('matchingPasswords').get('password').hasError('required') && (registerFormGroup.get('matchingPasswords').get('password').dirty || registerFormGroup.get('matchingPasswords').get('password').touched || submitted) && !changingPassword">
                {{'ValidationMessage.Password.Required' | translate}}
              </div>
              <div class="error-message" *ngIf="registerFormGroup.get('matchingPasswords').get('password').hasError('minlength') && (registerFormGroup.get('matchingPasswords').get('password').dirty || registerFormGroup.get('matchingPasswords').get('password').touched || submitted) && !changingPassword">
                {{'ValidationMessage.Password.Minlength' | translate}}
              </div>
              <div class="error-message" *ngIf="registerFormGroup.get('matchingPasswords').get('password').hasError('pattern') && (registerFormGroup.get('matchingPasswords').get('password').dirty || registerFormGroup.get('matchingPasswords').get('password').touched || submitted) && !changingPassword">
                {{'ValidationMessage.Password.Pattern' | translate}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>{{'Label.ConfirmPassword' | translate}}</ion-col>
        <ion-col col-8>
          <input (blur)="changingConfirm=false;" (keypress)="changingConfirm=true;" type="password" formControlName="confirmPassword"/>
          <div class="validation-errors">
            <ng-container>
              <div class="error-message" *ngIf="registerFormGroup.get('matchingPasswords').get('confirmPassword').hasError('required') && (registerFormGroup.get('matchingPasswords').get('confirmPassword').dirty || registerFormGroup.get('matchingPasswords').get('confirmPassword').touched || submitted) && !changingConfirm">
                {{'ValidationMessage.ConfirmPassword.Required' | translate}}
              </div>
            </ng-container>
            <!-- These validations are for the form group -->
            <div class="validation-errors">
              <ng-container>
                <div class="error-message" *ngIf="registerFormGroup.get('matchingPasswords').hasError('areEqual') && (registerFormGroup.get('matchingPasswords').get('confirmPassword').dirty || registerFormGroup.get('matchingPasswords').get('confirmPassword').touched || submitted) && !changingConfirm">
                  {{'ValidationMessage.MatchingPasswords.AreEqual' | translate}}
                </div>
              </ng-container>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="tos" (click)="showTos()">
      {{'Label.TermsOfServices' | translate}}
    </div>
    <ion-item>
      <ion-label>{{'Label.HasDriversLicense' | translate}}</ion-label>
      <ion-checkbox color="primary" formControlName="hasdriverslicense"></ion-checkbox>
    </ion-item>
    <ion-row>
      <ion-item>
        <ion-label>
          {{'Label.AgreeTerms' | translate}}
        </ion-label>
        <ion-checkbox color="primary" formControlName="terms"></ion-checkbox>
      </ion-item>
      <div class="validation-errors">
        <ng-container>
          <div class="error-message" *ngIf="registerFormGroup.get('terms').hasError('pattern') && (registerFormGroup.get('terms').dirty || registerFormGroup.get('terms').touched || submitted)">
            {{'ValidationMessage.Terms.Pattern' | translate}}
          </div>
        </ng-container>
      </div>
    </ion-row>
    <button ion-button round type="submit" class="drift-btn">{{'Button.Done' | translate}}</button>
  </form>
</ion-content>
