page-travels-drift {
  .header {
    .toolbar {
      height: 85px;
    }
  }
  .toolbar {
    .select-button.active {
      background-color: #a4cbd1;
      color: white;
      button {
        opacity: 1;
        color: white;
      }
    }
    .select-button {
      width: calc(33% - 15px);
      border: 2px solid #a4cbd1;
      height: 100%;
      margin: 2px;
      white-space: nowrap;
      text-overflow: ellipsis;
      button {
        width: 100%;
        height: 100%;
        padding: 5px;
        font-size: 22px;
        color: #a4cbd1;
        text-transform: none;
        margin-left: 0px;
        font-family: 'GurmukhiSangamMN';
        border-radius: 0px;
        box-shadow: none;
        border: none;
        .button-inner {
          overflow: hidden;
          white-space: normal;
        }
      }
      img {
        height: 50px;
        width: 100%;
      }
      button.activated {
        background-color: white;
        color: #a4cbd1;
      }
    }
  }
  #travelsDrift {
    .scroll-content {
      padding: 0px;
    }
    .travels_drift_map {
      width: 100%;
      height: 400px;
      position: absolute;
    }
    button.end {
      border: none;
      color: white;
      display: block;
      height: 70px;
      width: 70px;
      font-size: 15px;
      padding: 10px;
      font-weight: 300;
      text-transform: none;
      border-radius: 50%;
      position: absolute;
      top: 310px;
      right: 5px;
      z-index: 3;
      font-family: 'GurmukhiSangamMN';
      background-color: #efa2a2;
      .button-inner {
        word-break: break-word;
        width: 50px;
        white-space: normal;
        line-height: 20px;
      }
    }
    .map {
      border: none;
      background-color: white;
      color: #a4cbd1;
      padding: 0px 5px;
      display: block;
      font-size: 50px;
      margin: 5px auto;
      font-weight: 300;
      text-transform: none;
      border-radius: 50%;
      position: absolute;
      top: 10px;
      left: 15px;
      z-index: 3;
    }
    .drift-area {
      position: absolute;
      width: 100%;
      top: 400px;
      z-index: 10;
      padding: 10px;
      background-color: white;
    }
    .item {
      padding-left: 0px;
    }
    ion-thumbnail {
      margin: 5px 5px 5px 0px;
      img {
        width: 80px;
        height: 100px;
      }
    }
    .completed {
      .item-content {
        height: 100px;
        background-color: #ebf3f5;
        padding: 10px;
        .content {
          padding: 5px;
          height: 100px;
          overflow: hidden;
          font-size: 15px;
          white-space: normal;
        }
      }
      .item-inner{
        padding-right: 0px;
      }
      .label {
        margin: 5px 0px;
        padding: 0px;
        text-align: left;
        font-weight: normal;
      }
    }
    .drifting {
      .item-content {
        height: 100px;
        border: 2px solid #a4cbd1;
        padding: 10px;
        .content {
          padding: 5px 0px;
          height: 45px;
          font-size: 15px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
        }
      }
      .item-inner{
        padding-right: 0px;
      }
      .label {
        margin: 5px 0px;
        padding: 0px;
        text-align: left;
        font-weight: normal;
      }
      button {
        line-height: 25px;
        min-height: 30px;
        font-size: 15px;
        padding: 5px 20px;
        margin: 5px auto;
      }
    }
  }
}
