<!--
  Generated template for the TravelsDriftPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons class="arrow-button" left (click)="goBack()">
      <button ion-button>
        <img src="assets/img/leftarrow.png" />
      </button>
    </ion-buttons>
    <ion-buttons class="select-button active" right>
      <button ion-button disabled>
        <img src="assets/img/drift-activated.png" />
      </button>
    </ion-buttons>
    <ion-buttons class="select-button" right (click)="goRequests()">
      <button ion-button>
        {{'Button.Requests' | translate}}
      </button>
    </ion-buttons>
    <ion-buttons class="select-button" right (click)="goSent()">
      <button ion-button>
        {{'Button.Sent' | translate}}
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding id="travelsDrift" class="map-container">
  <div id="{{'travels_drift_map' + mapId}}" class="travels_drift_map"></div>
  <ion-icon *ngIf="!(noRunning && noAgreed)" name="ios-navigate" class="map" (click)="goNavigation()"></ion-icon>
  <button *ngIf="!noRunning" ion-button class="end" (click)="endDrift()">
    {{'Button.EndDrift' | translate}}
  </button>
  <div class="drift-area">
    <ion-list no-lines>
      <div [@listItemState]="'in'" class="running-area" *ngFor="let drift of runningDrifts; let i = index">
        <ion-item class="drifting" *ngIf="drift.status=='running'">
          <ion-thumbnail item-start>
            <img src="{{drift.pictureurl}}"/>
          </ion-thumbnail>
          <div class="item-content">
            <p class="content">
              <span *ngIf="drift.otheruser_id != null">{{'Label.CurrentlyDriftingWith' | translate : drift.transparam}}</span>
              <span *ngIf="drift.otheruser_id == null">{{'Label.DriftingHitchhikeMode' | translate }}</span>
            </p>
            <button ion-button round class="drift-btn" (click)="cancelDrift(i, drift)">
              {{'Button.CancelDrift' | translate}}
            </button>
          </div>
        </ion-item>
      </div>
      <div [@listItemState]="'in'" class="agreed-area" *ngFor="let drift of agreedDrifts; let i = index">
        <ion-item class="drifting" *ngIf="drift.status=='agreed'">
          <ion-thumbnail item-start>
            <img src="{{drift.pictureurl}}"/>
          </ion-thumbnail>
          <div class="item-content">
            <p class="content">{{'Label.MayJourneyWith' | translate : drift.transparam}}</p>
            <button ion-button round class="drift-btn" (click)="cancelDrift(i, drift)">
              {{'Button.CancelDrift' | translate}}
            </button>
          </div>
        </ion-item>
      </div>
      <div class="completed-area" *ngFor="let drift of completedDrifts; let i = index">
        <ion-item class="completed">
          <ion-thumbnail item-start>
            <img src="{{drift.pictureurl}}"/>
          </ion-thumbnail>
          <div class="item-content">
            <p class="content">
              <span *ngIf="drift.other_id != null">
                {{'Label.DriftedWithOn' | translate : drift.transparam}}
                <span>{{drift.end_date | date:'d'}}th of {{drift.end_date | date:'MMMM y'}}!</span>
              </span>
              <span *ngIf="drift.other_id == null">
                {{'Label.DriftedHitchhikeMode' | translate}}
                <span>{{drift.end_date | date:'d'}}th of {{drift.end_date | date:'MMMM y'}}!</span>
              </span>
            </p>
          </div>
        </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>
