<!--
  Generated template for the RegisterTosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding id="tos">
  <ion-icon class="close" name="md-close" (click)="dismiss()"></ion-icon>
  <div [innerHTML] = "terms"></div>
</ion-content>
