page-profile-edit {
  #profileEdit {
    .profile-image {
      margin-bottom: 20px;
      .show-img {
        border: 2px solid #8ca8a9;
        width: 100%;
        position: relative;
        padding-bottom: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .icon {
        font-size: 25px;
        font-weight: bold;
        background-color: white;
        color: #8ca8a9;
        border: 2px solid #8ca8a9;
        padding: 0px 5px;
        border-radius: 50%;
        position: absolute;
        bottom: 0px;
        right: 0px;
      }
      .row {
        min-height: auto;
      }
    }
    .label {
      font-weight: normal;
      padding: 0px;
      white-space: normal;
      color: #000;
      text-align: left;
      font-size: 15px;
    }
    .row {
      min-height: 60px;
      margin-left: 0px;
      margin-right: 0px;
    }
    .col {
      font-size: 16px;
    }
    .error-message {
      color: red;
    }
    .single {
      input {
        width: calc(100% - 15px);
        min-height: 50px;
        padding: 15px;
        margin: 10px 0px;
      }
      .datetime {
        padding: 15px;
        background-color: #e3eff1;
        min-height: 30px;
        max-width: 100%;
        margin: 10px 0px;
      }
      .row {
        min-height: 0px;
      }
    }
    input {
      border: none;
      background-color: #e3eff1;
      width: 100%;
      min-height: 30px;
      padding: 5px 15px;
      margin: 0px;
    }
    .select {
      padding: 5px 15px;
      background-color: #e3eff1;
      min-height: 30px;
      max-width: 100%;
      margin: 0px;
    }
    textarea {
      border: none;
      background-color: #e3eff1;
      width: 100%;
      min-height: 120px;
      padding: 15px;
      margin: 10px 0px;
    }
    #count {
      text-align: right;
      position: absolute;
      right: 10px;
      bottom: 25px;
    }
    .perk-area {
      img {
        opacity: 0.8;
        border: 3px solid #e3eff1;
        padding: 3px;
        border-radius: 50%;
        cursor: pointer;
        margin: 10px 0px;
      }
    }
    .profession-area {
      input {
        min-height: 30px;
        padding: 10px;
      }
    }
    .vehicle-area {
      margin-top: 15px;
      margin-bottom: 20px;
      input {
        min-height: 30px;
        padding: 10px;
        margin: 0px;
      }
      img {
        width: 100%;
        height: auto;
      }
      .icon {
        font-size: 30px;
        font-weight: bold;
        background-color: white;
        color: #8ca8a9;
        border: 2px solid #8ca8a9;
        padding: 0px 7px;
        border-radius: 50%;
        position: absolute;
        bottom: 0px;
        right: 0px;
      }
    }
    .label {
      white-space: normal;
    }
    .item-inner {
      border: none;
    }
    .checkbox-icon{
      width: 21px;
      height: 21px;
      border-radius: 0px;
      border-width: 2px;
    }
    .checkbox-checked .checkbox-inner{
      left: 5px;
      top: 1px;
      position: absolute;
      width: 7px;
      height: 11px;
      border-width: 3px;
      border-top-width: 0;
      border-left-width: 0;
      border-style: solid;
      border-color: #fff;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .spinner{
      vertical-align: middle;
    }
    button.drift-btn {
      width: 35%;
      font-size: 27px;
      margin: 5px auto;
    }
  }
}
