<!--
  Generated template for the ProfileEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons class="arrow-button" left (click)="goBack()">
      <button ion-button>
        <img src="assets/img/leftarrow.png" />
      </button>
    </ion-buttons>
    <ion-title>{{'Label.EditProfile' | translate}}</ion-title>
    <ion-buttons class="menu-button" right>
      <button ion-button menuToggle>
        <img src="assets/img/menu.png" />
        <span *ngIf="getTotalRequestCount() > 0" class="badge">{{getTotalRequestCount()}}</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content padding id="profileEdit">
  <form class="form" [formGroup]="editFormGroup" (ngSubmit)="onSubmit()">
    <div class="profile-image">
      <ion-row>
        <ion-col col-8 class="main-image">
          <div class="show-img" [style.background-image] = "'url(' + profilepicture + ')'"></div>
          <ion-icon name="add" (click)="showActionSheet('profile')"></ion-icon>
        </ion-col>
        <ion-col col-4 class="left-image">
          <ion-row>
            <ion-col col-12 style="padding: 0px; padding-bottom: 5px;">
              <div class="show-img" [style.background-image] = "'url(' + pictures[0].url + ')'"></div>
              <ion-icon style="right: -5px;" name="add" (click)="showActionSheet('0')"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12 style="padding: 0px; padding-top: 5px;">
              <div class="show-img" [style.background-image] = "'url(' + pictures[1].url + ')'"></div>
              <ion-icon style="right: -5px; bottom: -5px;" name="add" (click)="showActionSheet('1')"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <div class="show-img" [style.background-image] = "'url(' + pictures[2].url + ')'"></div>
          <ion-icon name="add" (click)="showActionSheet('2')"></ion-icon>
        </ion-col>
        <ion-col col-4>
          <div class="show-img" [style.background-image] = "'url(' + pictures[3].url + ')'"></div>
          <ion-icon name="add" (click)="showActionSheet('3')"></ion-icon>
        </ion-col>
        <ion-col col-4>
          <div class="show-img" [style.background-image] = "'url(' + pictures[4].url + ')'"></div>
          <ion-icon name="add" (click)="showActionSheet('4')"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
    <ion-row class="single">
      <ion-col col-6>
        <ion-row>
          <ion-col col-12>{{'Label.Nickname' | translate}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <input type="text" formControlName="nickname"/>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-6>
        <ion-row>
          <ion-col col-12 style="white-space: nowrap;">{{'Label.DateOfBirth' | translate}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-datetime displayFormat="DD.MM.YYYY" placeholder="01.01.1990" formControlName="birthdate"></ion-datetime>
            <div class="validation-errors">
              <ng-container>
                <div class="error-message" *ngIf="editFormGroup.get('birthdate').invalid &&  submitted">
                  {{'ValidationMessage.Birthdate.Required' | translate}}
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>{{'Label.AboutMe' | translate}}</ion-col>
      <ion-col col-12>
        <textarea (keyup)="changeAbout()" (keypress)="changeAbout()" formControlName="aboutme" maxlength="180"></textarea>
        <div id="count">({{aboutCount}}/180)</div>
      </ion-col>
    </ion-row>
    <ion-row class="perk-area">
      <ion-col col-12>{{'Label.MyLittlePerks' | translate }}</ion-col>
      <ion-col col-2 *ngFor="let perk of perks" (click)="perk.selected = !perk.selected" >
        <img src="{{perk.icon}}" [style.background-color] = "(perk.selected == true) ? '#a4cbd1' : '#fff'"/>
      </ion-col>
    </ion-row>
    <ion-row class="profession-area">
      <ion-col col-12>{{'Label.MyProfession' | translate}}</ion-col>
      <ion-col col-12>
        <input type="text" formControlName="profession"/>
        <div class="validation-errors">
          <ng-container>
            <div class="error-message" *ngIf="editFormGroup.get('profession').hasError('required') && (editFormGroup.get('profession').dirty || editFormGroup.get('profession').touched || submitted)">
              {{'ValidationMessage.Profession.Required' | translate}}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <div class="vehicle-area">
      <ion-row>
        <ion-col col-4>{{'Label.PlateNumber' | translate}}</ion-col>
        <ion-col col-8>
          <input type="text" formControlName="platenumber"/>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>{{'Label.CarModel' | translate}}</ion-col>
        <ion-col col-8>
          <input type="text" formControlName="carmodel"/>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <img src="{{vehiclepicture}}">
          <ion-icon name="add" (click)="showActionSheet('vehicle')"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-label>{{'Label.HasDriversLicense' | translate}}</ion-label>
        <ion-checkbox color="primary" formControlName="hasdriverslicense"></ion-checkbox>
      </ion-item>
    </div>
    <ion-row>
      <ion-col col-4>{{'Label.Email' | translate}}</ion-col>
      <ion-col col-8>
        <input type="email" placeholder="m.Harjes@web.de" formControlName="email" (blur)="checkEmail()" (keypress)="changeEmail()"/>
        <div class="validation-errors">
          <ng-container>
            <div class="error-message" *ngIf="editFormGroup.get('email').hasError('required') && (editFormGroup.get('email').dirty || editFormGroup.get('email').touched || submitted)">
              {{'ValidationMessage.Email.Required' | translate}}
            </div>
            <div class="error-message" *ngIf="editFormGroup.get('email').hasError('pattern') && (editFormGroup.get('email').dirty || editFormGroup.get('email').touched || submitted)">
              {{'ValidationMessage.Email.Pattern' | translate}}
            </div>
            <div [style.color] = "(checkEmailText == 'Label.EmailAvailable') ? '#138732' : '#ff0000'">
              <ion-spinner name="ios-small" *ngIf="checkEmailText == 'Label.Checking'"></ion-spinner>
              <span>{{checkEmailText | translate}}</span>
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <div formGroupName="countryPhone">
      <ion-row>
        <ion-col col-4>{{'Label.Country' | translate}}</ion-col>
        <ion-col col-8>
          <ion-select formControlName="country" [selectOptions]="selectOptions" cancelText="{{'Button.Cancel' | translate}}" okText="{{'Button.Ok' | translate}}">
            <ion-option *ngFor="let item of countries" [value]="item" >{{item.name}}</ion-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>{{'Label.MobileNumber' | translate}}</ion-col>
        <ion-col col-8>
          <input [textMask]="{mask: editFormGroup.value.countryPhone.country.phoneMask}" placeholder="{{ editFormGroup.value.countryPhone.country.samplePhone }}" type="tel" formControlName="phone"/>
          <div class="validation-errors">
            <ng-container>
              <div class="error-message" *ngIf="editFormGroup.get('countryPhone').get('phone').hasError('required') && (editFormGroup.get('countryPhone').get('phone').dirty || editFormGroup.get('countryPhone').get('phone').touched || submitted)">
                {{'ValidationMessage.Mobile.Required' | translate}}
              </div>
              <div class="error-message" *ngIf="editFormGroup.get('countryPhone').get('phone').hasError('validCountryPhone') && (editFormGroup.get('countryPhone').get('phone').dirty || editFormGroup.get('countryPhone').get('phone').touched || submitted)">
                {{'ValidationMessage.Mobile.ValidCountryPhone' | translate}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <ion-row>
      <ion-col col-4>{{'Label.City' | translate}}</ion-col>
      <ion-col col-8>
        <input type="text" placeholder="Berlin" formControlName="city"/>
        <div class="validation-errors">
          <ng-container>
            <div class="error-message" *ngIf="editFormGroup.get('city').hasError('required') && (editFormGroup.get('city').dirty || editFormGroup.get('city').touched || submitted)">
              {{'ValidationMessage.City.Required' | translate}}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>{{'Label.Address' | translate}}</ion-col>
      <ion-col col-8>
        <input type="text" placeholder="Sophienterasse 35" formControlName="address"/>
        <div class="validation-errors">
          <ng-container>
            <div class="error-message" *ngIf="editFormGroup.get('address').hasError('required') && (editFormGroup.get('address').dirty || editFormGroup.get('address').touched || submitted)">
              {{'ValidationMessage.Address.Required' | translate}}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>{{'Label.ZipCode' | translate}}</ion-col>
      <ion-col col-8>
        <input type="number" placeholder="20149" formControlName="zip"/>
        <div class="validation-errors">
          <ng-container>
            <div class="error-message" *ngIf="editFormGroup.get('zip').hasError('required') && (editFormGroup.get('zip').dirty || editFormGroup.get('zip').touched || submitted)">
              {{'ValidationMessage.ZipCode.Required' | translate}}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <button ion-button round type="submit" class="drift-btn">{{'Button.Save' | translate}}</button> 
  </form>
</ion-content>
