page-main {
  .header {
    .toolbar {
      height: 85px;
    }
  }
  .toolbar {
    .select-button {
      width: calc(50% - 50px);
    }
  }
  #main {
    .main_map {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0px;
      bottom: 0px;
    }
    .scroll-content {
      overflow: hidden;
    }
    .community{
      position: fixed;
      bottom: 20px;
      left: 15px;
      background-color: white;
      width: calc(100% - 120px);
      border-radius: 30px;
      padding-left: 10px;
    }
  }
}
