<!--
  Generated template for the FindUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding id="findUser">
  <div class="question">
    {{'Label.FindUser' | translate: transparam}}
  </div>
  <img class="userimage" src="{{pictureurl}}"/>
  <ion-row class="button-area">
    <ion-col>
      <ion-list no-lines>
        <ion-item>
          <button ion-button class="drift-btn" round type="button" (click)="yes()">{{'Button.Yes' | translate}}</button>
        </ion-item>
        <ion-item>
          <button ion-button class="drift-btn" round type="button" (click)="notYet()">{{'Button.NotYet' | translate}}</button>
        </ion-item>
        <ion-item>
          <button ion-button class="drift-btn" round type="button" (click)="continueWithout()" style="font-size: 14px;">{{'Button.ContinueWithout' | translate: transparam}}</button>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
