page-find-user {
  #findUser {
    background-image:url('../assets/img/login.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    text-align:center;
    border: 15px solid white;
    .userimage {
      width: 240px;
      height: 240px;
      border: 10px solid white;
      background-color: white;
      margin: 10px 0px 20px 0px;
    }
    .question {
      font-size: 25px;
      text-align: left;
      padding: 10px 30px;
      color: #555;
    }
    .button-area {
      .list {
        margin: auto;
      }
      .item {
        background-color: transparent;
        padding: 0px;
        margin: 0px;
        box-shadow: none;
      }
      .item-inner {
        box-shadow: none;
      }
      .label {
        margin: 0px;
        padding: 5px 10px;
      }
      button.drift-btn {
        width: 60%;
        min-width: 180px;
        font-size: 20px;
        margin: 5px auto;
      }
    }
  }
}
