<!--
  Generated template for the RegisterTreatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content id="registerTreat">
  <h1>{{'Label.OurTreat' | translate }}</h1>
  <p class="description">{{'Label.TreatDescription' | translate }}</p>
  <p class="link"><a>{{'Label.TellMe' | translate }}</a></p>
  <button class="drift-btn" ion-button round (click)="treatDone()">{{'Button.Nice' | translate}}</button>
</ion-content>
