page-register-treat {
  #registerTreat {
    text-align: center;
    h1 {
      font-size: 40px;
      font-weight: bold;
      margin: 40px auto;
    }
    .description {
      padding: 30px;
      font-size: 30px;
      text-align: left;
      line-height: 40px;
    }
    .link {
      padding-left: 30px;
      text-align: left;
      a {
        color:#a4cbd1;
        font-size: 18px;
        text-decoration: underline;
      }
    }
    button.drift-btn {
      width: 40%;
      min-width: 150px;
      font-size: 27px;
      margin: 40px auto 20px auto;
    }
  }
}
