page-drifter-going-map {
  .header {
    .toolbar {
      height: 85px;
    }
  }
  .toolbar .select-button button{
    font-size: 22px;
  }
  #drifterGoingMap {
    .drifter_going_map {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0px;
      bottom: 0px;
    }
    .scroll-content {
      overflow: hidden;
    }
    .community{
      position: fixed;
      bottom: 20px;
      left: 15px;
      background-color: white;
      width: calc(100% - 120px);
      border-radius: 30px;
      padding-left: 10px;
    }
    .sos-area {
      background-color: black;
      color: white;
      border-radius: 50%;
      width: 75px;
      height: 75px;
      position: fixed;
      bottom: 20px;
      right: 15px;
      font-size: 20px;
      padding: 25px 0px;
      text-align: center;
    }
    .camera-area {
      background-color: #e3eae8;
      border-radius: 50%;
      width: 75px;
      height: 75px;
      position: fixed;
      bottom: 100px;
      right: 15px;
      text-align: center;
      padding: 10px;
    }
  }
}
