<!--
  Generated template for the DriverSelectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons class="arrow-button" left (click)="goMain()">
      <button ion-button>
        <img src="assets/img/leftarrow.png" />
      </button>
    </ion-buttons>
    <ion-buttons class="menu-button" right>
      <button ion-button menuToggle>
        <img src="assets/img/menu.png" />
        <span *ngIf="getTotalRequestCount() > 0" class="badge">{{getTotalRequestCount()}}</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content  id="driverSelect" class="map-container">
  <div class="title">
    <div class="first">{{'Label.WhereDoYou' | translate}}</div>
    <div class="second">{{'Label.WantToGo' | translate}}</div>
  </div>
  <div id="{{'driver_select_map' + mapId}}" class="driver_select_map"></div>
  <div class="submit-area">
    <button class="drift-btn" ion-button round (click)="submit()">{{'Button.Submit' | translate}}</button>
    <button class="drift-btn" ion-button round (click)="justCruisen()">{{'Button.JustCruisen' | translate}}</button>
  </div>
</ion-content>
