page-register-face {
	#registerFace {
		text-align: center;
    h2 {
        margin-top: 40px;
    }
		.image-area {
	    	width: 60%;
    		margin: auto;
    		text-align: right;
    		.face {
    			margin-bottom: 10px;
    			border: 2px solid #e3eff1;
    		}
    		.thumb {
    			width: 50px;
    		}
		}
		button.drift-btn {
      width: 55%;
      min-width: 250px;
      margin: auto;
      margin-top: 40px;
      font-size: 27px;
    }
	}
}
