<!--
  Generated template for the RegisterFacePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content id="registerFace">
	<h2>{{"Label.ShowDriftFace" | translate}}</h2>
	<div class="image-area">
		<img (click)="showActionSheet()" class="face" src="{{faceURL}}"/>
		<img (click)="showActionSheet()" class="thumb" src="assets/img/thumb.png"/>
	</div>
	<button class="drift-btn" ion-button round (click)="faceDone()">{{'Button.Done' | translate}}</button>
</ion-content>
