<!--
  Generated template for the RegisterCharacterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content id="registerCharacter">
	<h2>{{"Label.ShareCharacter" | translate}}</h2>
	<div class="text-area">
    <textarea (keyup)="changeAbout()" (keypress)="changeAbout()" [(ngModel)]="aboutCharacter" maxlength="180"></textarea>
    <div id="count">({{aboutCount}}/180)</div>
  </div>
    <button class="drift-btn" ion-button round (click)="characterDone()">{{'Button.Done' | translate}}</button>
</ion-content>
