page-register-character {
	#registerCharacter {
		text-align: center;
		.text-area {
			width: 100%;
			padding: 10px 30px;
      textarea {
        width: 100%;
        height: 250px;
        border: 2px solid #a4cbd1;
        padding: 5px;
        font-size: 18px;
      }
      #count {
        text-align: left;
        margin-top: -30px;
        margin-left: 10px;
        font-size: 18px;
        color: #a4cbd1;
      }
		}
		button.drift-btn {
      width: 35%;
      font-size: 27px;
      margin: 40px auto;
    }
	}
}
