page-profile-review {
  #profileReview {
    text-align: center;
    .row {
      margin-left: 0px;
      margin-right: 0px;
    }
    .votes-area {
      font-size: 30px;
      img {
        width: 60px;
        vertical-align: middle;
      }
      span {
        vertical-align: middle;
      }
    }
    .review {
      background-color: #e3eff1;
      margin: 10px 5px;
      .review-text {
        min-height: 50px;
      }
      .review-content {
        text-align: right;
        img {
          width: 30px;
        }
      }
    }
  }
}
