<!--
  Generated template for the ProfileReviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons class="arrow-button" left (click)="goBack()">
      <button ion-button>
        <img src="assets/img/leftarrow.png" />
      </button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="myreview">{{'Label.MyReview' | translate}}</span>
      <span *ngIf="!myreview">{{'Label.UserReview' | translate: transparam}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding id="profileReview">
  <div class="votes-area">
    <ion-row>
      <ion-col col-6>
        <img src="assets/img/uparrow.png"/>
        <span>({{upvotes}})</span>
      </ion-col>
      <ion-col col-6>
        <img src="assets/img/downarrow.png"/>
        <span>({{downvotes}})</span>
      </ion-col>
    </ion-row>
  </div>
  <ion-list no-lines>
    <ion-item class="review" *ngFor="let review of reviews">
      <div class="review-text">{{review.text}}</div>
      <div class="review-content">
        <img *ngIf="review.updown == 'up'" src="assets/img/uparrow.png"/>
        <img *ngIf="review.updown == 'down'" src="assets/img/downarrow.png"/>
        ( <span class="reivew-name">{{review.reviewby_name}}</span>
        <span class="review-time">{{review.time | date:'yyyy-MM-dd'}}</span> )
      </div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="getReviews($event)" [enabled]="!noMoreReview" threshold="30%">
    <ion-infinite-scroll-content loadingSpinner="ios">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>