page-emergency-contact {
  #emergencyContact {
    .content {
      font-size: 25px;
      color: #555;
    }
    .emergency-image {
      margin: 20px auto;
      text-align: center;
      img {
        width: 80%;
        margin: auto;
      }
      p {
        margin: 5px auto;
      }
    }
    button.drift-btn {
      width: 45%;
      min-width: 150px;
      font-size: 27px;
      margin: 5px auto;
    }
  }
}
