<!--
  Generated template for the EmergencyContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons class="arrow-button" left (click)="goBack()">
      <button ion-button>
        <img src="assets/img/leftarrow.png" />
      </button>
    </ion-buttons>
    <ion-title>{{'Label.SecurityComesFirst' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding id="emergencyContact">
  <div class="content">
    {{'Label.EmergencyContent' | translate}}
  </div>
  <ion-row class="emergency-image">
    <ion-col col-6 (click)="choose(1)">
      <img src="{{emergency1.pictureurl}}"/>
      <p>{{emergency1.nickname}}</p>
    </ion-col>
    <ion-col col-6 (click)="choose(2)">
      <img src="{{emergency2.pictureurl}}"/>
      <p>{{emergency2.nickname}}</p>
    </ion-col>
  </ion-row>
  <button class="drift-btn" ion-button round type="button" (click)="noted()">{{'Button.Noted' | translate}}</button>
</ion-content>
