<!--
  Generated template for the EndDriftPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding id="endDrift">
  <div class="question">
    {{'Label.DoYouReallyEndDrift' | translate}}
  </div>
  <ion-row class="button-area">
    <ion-col>
      <ion-list no-lines>
        <ion-item>
          <button ion-button class="drift-btn" round type="button" (click)="endDrift()">{{'Button.YesIdo' | translate}}</button>
        </ion-item>
        <ion-item>
          <button ion-button class="drift-btn" round type="button" (click)="goBack()">{{'Button.NoContinue' | translate}}</button>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
