page-end-drift {
  #endDrift {
    background-image:url('../assets/img/login.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    text-align:center;
    border: 15px solid white;
    .question {
      background-color: white;
      margin: 20px 0px 50px 0px;
      font-size: 25px;
      padding: 20px;
      min-height: 200px;
      text-align: left;
      color: #aaa;
    }
    .button-area {
      .list {
        margin: auto;
      }
      .item {
        background-color: transparent;
        padding: 0px;
        margin: 0px;
        box-shadow: none;
      }
      .item-inner {
        box-shadow: none;
      }
      .label {
        margin: 0px;
        padding: 5px 10px;
      }
      button {
        width: 60%;
        min-width: 180px;
        font-size: 20px;
        margin: 5px auto;
      }
    }
  }
}
