<!--
  Generated template for the UserProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons class="arrow-button" left (click)="goBack()">
      <button ion-button>
        <img src="assets/img/leftarrow.png" />
      </button>
    </ion-buttons>
    <ion-title>
      <div class="name">{{userInfo.nickname}}</div>
      <div class="profession">{{userInfo.profession}}</div>
    </ion-title>
    <ion-buttons class="menu-button" right>
      <button ion-button menuToggle>
        <img src="assets/img/menu.png" />
        <span *ngIf="getTotalRequestCount() > 0" class="badge">{{getTotalRequestCount()}}</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding id="userProfile">
  <div class="image-area">
    <img class="no-image" src="assets/img/no-image.png" *ngIf = "userImages.length == 0"/>
    <ion-slides pager *ngIf = "userImages.length > 0">
      <ion-slide *ngFor="let img of userImages">
        <img src="{{img.url}}" />
      </ion-slide>
    </ion-slides>
  </div>
  <div class="about-area">
    {{userInfo.about}}
  </div>
  <button class="drift-btn" ion-button round (click)="showDrift()">
    <span *ngIf="!userInfo.driftRequested">{{'Button.ShowDrift' | translate}}</span>
    <span *ngIf="userInfo.driftRequested">{{'Button.DriftRequested' | translate}}</span>
  </button>
  <div class="community-area">
    <ion-row>
      <ion-col col-6 (click)="callPhone()">
        <img src="assets/img/phone.png" />
      </ion-col>
      <ion-col col-6 (click)="sendMessage()">
        <img src="assets/img/mail.png" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 (click)="requestCompanion()">
        <img *ngIf="!userInfo.isCompanion" src="assets/img/user-plus.png" />
        <img *ngIf="userInfo.isCompanion" src="assets/img/user-minus.png" />
      </ion-col>
      <ion-col col-6 (click)="blockCompanion()">
        <img *ngIf="!userInfo.isBlocked" src="assets/img/user-block.png" />
        <img *ngIf="userInfo.isBlocked" src="assets/img/user-block-disable.png" />
      </ion-col>
    </ion-row>
  </div>
  <div class="perk-area">
    <div class="area-title">
      {{'Label.UserLittlePerks' | translate:transparam}}
    </div>
    <div class="perk-list">
      <div class="no-perk" *ngIf = "perks.length == 0">
        {{'Label.UserNoPerk' | translate:transparam}}
      </div>
      <div class="perk-item" *ngFor="let perk of perks let i = index">
        <div class="item-area" *ngIf="!((i >= 4) && showPerksMore)">
          <img src="{{perk.icon}}"/>
          <p>{{ perk.name | translate}}</p>
        </div>
      </div>
      <div class="perk-more" *ngIf="showPerksMore">
        <button ion-button outline round (click)="clickPerksMore()">{{'Button.More' | translate}}</button>
      </div>
    </div>
  </div>
  <div class="reference-area">
    <div class="area-title">
      {{'Label.ImpressionOfDrifters' | translate}}
    </div>
    <div class="reference-list">
      <ion-row>
        <ion-col col-6>
          <img src="assets/img/uparrow.png"/>
          <span>({{userInfo.upvotes}})</span>
        </ion-col>
        <ion-col col-6>
          <img src="assets/img/downarrow.png"/>
          <span>({{userInfo.downvotes}})</span>
        </ion-col>
      </ion-row>
      <ion-row class="no-review" *ngIf="reviews.length == 0">
        {{'Label.UserNoReview' | translate:transparam}}
      </ion-row>
      <ion-row class="review" *ngFor="let review of reviews">
        {{review.text}}
      </ion-row>
      <div class="read-more" *ngIf="showReviewsMore">
        <button ion-button outline round (click)="goReviews()">{{'Button.ReadMore' | translate}}</button>
      </div>
    </div>
  </div>
  <div class="journeys-area" (click)="goJourneys()">
    <div class="area-title">
      {{'Label.UserJourneys' | translate:transparam}}
    </div>
    <img class="journey-background" src="{{journeyplaceholderpicture}}"/>
    <div class="journey-count">{{userInfo.journeycount}}</div>
  </div>
  <div class="friends-area">
    <div class="area-title">
      {{'Label.UserFriends' | translate:transparam}} <span class="badge" *ngIf="userInfo.opencompanionrequestcount > 0">{{userInfo.opencompanionrequestcount}}</span>
    </div>
    <div class="friends-slide">
      <div class="friends-list">
        <div class="no-friend" *ngIf="commonFriends.length == 0">
          {{'Label.UserNoFriend' | translate:transparam}}
        </div>
        <div class="friend" *ngFor="let common of commonFriends" (click)="goUser(common.user_id)">
          <img src="{{common.pictureurl}}" />
          <div>{{common.nickname}}</div>
        </div>
      </div>
      <div class="nextarrow" (click)="goCompanions()">
        <img src="assets/img/rightarrow.png"/>
      </div>
    </div>
  </div>
</ion-content>