page-send-review {
  #sendReview {
    background-image:url('../assets/img/login.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    text-align:center;
    border: 15px solid white;
    .row {
      margin-left: 0px;
      margin-right: 0px;
    }
    .backarrow {
      height: 60px;
      position: absolute;
      left: 0px;
      top: 0px;
    }
    .question {
      font-size: 20px;
      margin: 60px 0px 20px 0px;
    }
    .votes-area {
      font-size: 16px;
      img {
        width: 60px;
        vertical-align: middle;
      }
      span {
        vertical-align: middle;
      }
    }
    .text-area {
      width: 100%;
      padding: 40px 30px 50px;
      textarea {
        width: 100%;
        height: 250px;
        border: none;
        padding: 10px;
        font-size: 18px;
      }
      #count {
        text-align: right;
        margin-top: -30px;
        margin-left: 10px;
        font-size: 12px;
        color: #a4cbd1;
      }
    }
    .button-area {
      .list {
        margin: auto;
      }
      .item {
        background-color: transparent;
        padding: 0px;
        margin: 0px;
        box-shadow: none;
      }
      .item-inner {
        box-shadow: none;
      }
      .label {
        margin: 0px;
        padding: 5px 10px;
      }
      button.drift-btn {
        width: 60%;
        min-width: 180px;
        font-size: 25px;
        margin: 5px auto;
      }
    }
  }
}
