<!--
  Generated template for the SendReviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding id="sendReview">
  <img class="backarrow" src="assets/img/leftarrow.png" (click) = "goBack()"/>
  <div class="question">
    {{'Label.DriftAgain' | translate}}
  </div>
  <ion-row class="votes-area">
    <ion-col col-6 (click)="upVote()">
      <img src="{{upVoteImage}}"/>
      <span>{{'Label.Always' | translate}}</span>
    </ion-col>
    <ion-col col-6 (click)="downVote()">
      <img src="{{downVoteImage}}"/>
      <span>{{'Label.Nope' | translate}}</span>
    </ion-col>
  </ion-row>
  <div class="text-area">
    <textarea placeholder="{{'Placeholder.SaySomething' | translate }}" (keyup)="changeReview()" (keypress)="changeReview()" [(ngModel)]="reviewText" maxlength="180"></textarea>
    <div id="count">({{reviewCount}}/180)</div>
  </div>
  <ion-row class="button-area">
    <ion-col>
      <ion-list no-lines>
        <ion-item>
          <button class="drift-btn" ion-button round type="button" (click)="sendReview()">{{'Button.Send' | translate}}</button>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
