<!--
  Generated template for the RateUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding id="rateUser">
  <img class="userimage" src="{{pictureurl}}"/>
  <div class="ratecontent">
    {{'Label.UserAndYouParted' | translate: transparam}}
  </div>
  <ion-row class="button-area">
    <ion-col>
      <ion-list no-lines>
        <ion-item>
          <button class="drift-btn" ion-button round type="button" (click)="rateNow()">{{'Button.RateNow' | translate}}</button>
        </ion-item>
        <ion-item>
          <button class="drift-btn" ion-button round type="button" (click)="rateLater()">{{'Button.RateLater' | translate}}</button>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
