<!--
  Generated template for the UserDriftPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons class="arrow-button" left (click)="goBack()">
      <button ion-button>
        <img src="assets/img/leftarrow.png" />
      </button>
    </ion-buttons>
    <ion-title>
      <div class="name">{{otherInfo.nickname}}</div>
    </ion-title>
    <ion-buttons class="menu-button" right>
      <button ion-button menuToggle>
        <img src="assets/img/menu.png" />
        <span *ngIf="getTotalRequestCount() > 0" class="badge">{{getTotalRequestCount()}}</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content id="userDrift" class="map-container">
  <ion-row class="content-area">
    <ion-col col-3 class="image">
      <img src="{{userImage}}" />
    </ion-col>
    <ion-col col-6 class="title-value">
      <p>To {{otherInfo.nickname}}</p>
      <p>{{'Label.JourneyTogether' | translate }}</p>
    </ion-col>
    <ion-col col-3 class="distance-value">
      <p>{{betweenDistance}}km</p>
      <p>{{journeyDistance}}km</p>
    </ion-col>
  </ion-row>
  <div id="{{'user_drift_map' + mapId}}" class="user_drift_map"></div>
  <div class="button-area">
    <button *ngIf="!sameMode && from=='user-profile' && !otherInfo.driftRequested" class="drift-btn request" ion-button round type="button" (click)="requestDrift()">{{'Button.RequestDrift' | translate}}</button>
    <button *ngIf="from=='travels-requests'" class="drift-btn request" ion-button round type="button" (click)="acceptRequest()">{{'Button.Accept' | translate}}</button>
  </div>
</ion-content>
