page-user-drift {
  #userDrift {
    .content-area {
      height: 120px;
      background-color: white;
      z-index: 3;
      position: absolute;
    }
    .row {
      margin-left: 0px;
      margin-right: 0px;
    }
    .image {
      img {
        width: 90%;
        height: 100%;
      }
    }
    .title-value {
      p {
        font-size: 15px;
        padding: 5px 0px;
        margin: 15px 0px;
      } 
    }
    .distance-value {
      font-size: 18px;
      p {
        background-color: #a4cbd1;
        width: 90%;
        padding: 5px 5px;
        margin: 15px 0px 0px 0px;
        color: white;
      }
    }
    .user_drift_map {
      width: 100%;
      position: fixed;
      top: 200px;
      left: 0px;
      right: 0px;
      bottom: 80px;
    }
    .button-area {
      position: absolute;
      height: 80px;
      width: 100%;
      z-index: 3;
      bottom: 0px;
      background-color: white;
      text-align: center;
    }
    button.request{
      position: absolute;
      bottom: 20px;
      width: 200px;
      left: 0px;
      right: 0px;
      font-size: 20px;
      margin: 5px auto;
      background-color: #efa2a2;
    }
  }
}
