<!--
  Generated template for the DrifterHitchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content id="drifterHitch" padding>
  <div class="page-title">{{'Label.NoOneAround' | translate}}</div>
  <div class="page-content">{{'Label.HitchContent' | translate}}</div>
  <ion-row>
    <ion-col col-6>
      <button ion-button class="drift-btn" round type="button" (click)="goSure()">{{'Button.Sure' | translate}}</button>
    </ion-col>
    <ion-col col-6>
      <button ion-button class="drift-btn" round type="button" (click)="goNo()">{{'Button.NoThanks' | translate}}</button>
    </ion-col>
  </ion-row>
</ion-content>
