<!--
  Generated template for the SupportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons class="arrow-button" left (click)="goBack()">
      <button ion-button>
        <img src="assets/img/leftarrow.png" />
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content id="support">
  <div class="title-content">
    {{'Label.WeAreHereForYou' | translate }}
  </div>
  <div class="select-area">
    <ion-item>
      <ion-label>
        <span *ngIf="selectedCategory == ''">{{'Label.WhatsTheMainIssue' | translate}}</span>
        <span *ngIf="selectedCategory != ''">{{selectedCategory}}</span>
      </ion-label>
      <ion-select [(ngModel)] = "selectedId" [selectOptions]="selectOptions" (click)="showSelect()" (ionChange)="changeSelected()">
        <ion-option *ngFor="let category of categories" value="{{category.id}}">{{category.text}}</ion-option>
      </ion-select>
    </ion-item>
  </div>
  <textarea class="issue" [(ngModel)]="message"></textarea>
  <button class="drift-btn" ion-button round (click)="send()">{{'Button.SendMessage' | translate}}</button>
</ion-content>
