page-support {
  #support {
    text-align: center;
    .title-content {
      width: calc(100% - 120px);
      text-align: left;
      margin: auto;
      font-size: 24px;
      margin-top: 0px;
      margin-bottom: 20px;
    }
    .issue {
      width: calc(100% - 120px);
      border: 1px solid #a4cbd1;
      height: 200px;
      margin: 0px auto 10px auto;
      padding: 10px;
    }
    button.drift-btn {
      width: 55%;
      min-width: 200px;
      margin: 40px auto 20px auto;
      font-size: 18px;
    }
    .select-area{
      .item {
        width: calc(100% - 120px);
        margin: auto;
        background-color: #a4cbd1;
        color: white;
      }
      .label {
        font-size: 14px;
        margin: 5px 5px 5px 0px;
        color: white;
        font-weight: bold;
        text-align: left;
      }
      .select-text{
        display: none;
      }
      .item-inner{
        padding-right: 0px;
        border: none;
      }
      .select {
        background-color: white;
        padding: 10px 15px 10px 10px;
        margin-right: 3px;
      }
      .select-icon .select-icon-inner {
        left: 0px;
        top: 60%;
        margin-top: -5px;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 8px solid;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        color: #a4cbd1;
        pointer-events: none;
      }
    }
  }
}
