page-settings-main {
  #settingsMain {
    button.change {
      width: 50%;
      min-width: 240px;
      line-height: 40px;
      min-height: 45px;
      font-size: 18px;
      margin: 5px auto;
    }
  }
}
