<!--
  Generated template for the SettingsMainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons class="arrow-button" left (click)="goBack()">
      <button ion-button>
        <img src="assets/img/leftarrow.png" />
      </button>
    </ion-buttons>
    <ion-title>{{'Menu.Settings' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding id="settingsMain">
  <ion-list no-lines>
    <ion-item>
      <p item-start>{{'Settings.DisplayCommunityChat' | translate}}</p>
      <ion-toggle [(ngModel)]="settingData.displayCommunityChat"></ion-toggle>
    </ion-item>
    <ion-item>
      <button class="drift-btn change" ion-button round type="button" (click)="goEmergency()">{{'Button.EmergencyContacts' | translate}}</button>
    </ion-item>
    <ion-item>
      <button class="drift-btn change" ion-button round type="button" (click)="goPassword()">{{'Button.ChangePassword' | translate}}</button>
    </ion-item>
  </ion-list>
</ion-content>