page-driver-going-map {
  #driverGoingMap.hide-header {
    z-index: 100;
    .scroll-content {
      margin-top: 10px !important;
      transition: margin .5s linear; 
    }
  }
  #driverGoingMap {
    z-index: 0;
    .driver_going_map {
      width: 100%;
      height: calc(100% - 120px);
      position: fixed;
      top: 120px;
      bottom: 0px;
    }
    .scroll-content {
      overflow: hidden;
      transition: margin .5s linear; 
    }
    .badge-area {
      position: absolute;
      width: 110px;
      height: 110px;
      bottom: 10px;
      transition: all 0.5s ease; 
      img {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background-color: white;
      }
    }
  }
}
