page-driver-map {
  .header {
    .toolbar {
      height: 85px;
      .toolbar-title-ios {
        padding-top: 15px;
      }
    }
  }
  #driverMap {
    .driver_map {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0px;
      bottom: 0px;
    }
    .scroll-content {
      overflow: hidden;
    }
    .submit-area {
      position: absolute;
      bottom: 30px;
      text-align: center;
      width: 100%;
    }
    button.drift-btn{
      width: 45%;
      min-width: 120px;
      margin: 5px auto;
      font-size: 27px;
    }
  }
}
