<!--
  Generated template for the DriverMapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons class="arrow-button" left (click)="goBack()">
      <button ion-button>
        <img src="assets/img/leftarrow.png" />
      </button>
    </ion-buttons>
    <ion-title>{{destination.text}}</ion-title>
    <ion-buttons class="menu-button" right>
      <button ion-button menuToggle>
        <img src="assets/img/menu.png" />
        <span *ngIf="getTotalRequestCount() > 0" class="badge">{{getTotalRequestCount()}}</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content  id="driverMap" class="map-container">
  <div id="{{'driver_map' + mapId}}" class="driver_map"></div>
  <div class="submit-area">
    <button class="drift-btn" ion-button round (click)="start()">{{'Button.Start' | translate}}</button>
  </div>
</ion-content>
