page-travels-sent {
  .header {
    .toolbar {
      height: 85px;
    }
  }
  .toolbar {
    .select-button.active {
      background-color: #a4cbd1;
      color: white;
      button {
        opacity: 1;
        color: white;
      }
    }
    .select-button {
      width: calc(33% - 15px);
      border: 2px solid #a4cbd1;
      height: 100%;
      margin: 2px;
      white-space: nowrap;
      text-overflow: ellipsis;
      button {
        width: 100%;
        height: 100%;
        padding: 5px;
        font-size: 22px;
        color: #a4cbd1;
        text-transform: none;
        margin-left: 0px;
        font-family: 'GurmukhiSangamMN';
        border-radius: 0px;
        box-shadow: none;
        border: none;
        .button-inner {
          overflow: hidden;
          white-space: normal;
        }
      }
      img {
        height: 50px;
        width: 100%;
      }
      button.activated {
        background-color: white;
        color: #a4cbd1;
      }
    }
  }
  #travelsSent {
    padding: 10px;
    .scroll-content {
      padding: 10px;
    }
    .item {
      padding-left: 0px;
    }
    ion-thumbnail {
      margin: 5px 10px 5px 0px;
      img {
        width: 80px;
        height: 100px;
      }
    }
    .denied {
      .item-content {
        height: 100px;
        background-color: #ebf3f5;
        padding: 5px;
        .content {
          padding: 5px;
          height: 100px;
          overflow: hidden;
          font-size: 18px;
          white-space: normal;
        }
      }
      .item-inner{
        padding-right: 0px;
      }
      .label {
        margin: 5px 5px 5px 0px;
        padding: 0px;
        text-align: left;
        font-weight: normal;
      }
    }
    .requesting {
      .item-content {
        height: 100px;
        border: 2px solid #a4cbd1;
        padding: 5px;
        .content {
          padding: 5px 0px;
          height: 50px;
          font-size: 18px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
        }
      }
      .item-inner{
        padding-right: 0px;
      }
      .label {
        margin:5px 5px 5px 0px;
        padding: 0px;
        text-align: left;
        font-weight: normal;
      }
      button {
        line-height: 25px;
        min-height: 30px;
        font-size: 14px;
        padding: 5px 10px;
        margin: 5px auto;
      }
    }
  }
}
