<!--
  Generated template for the TravelsSentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons class="arrow-button" left (click)="goBack()">
      <button ion-button>
        <img src="assets/img/leftarrow.png" />
      </button>
    </ion-buttons>
    <ion-buttons class="select-button" right (click)="goDrift()">
      <button ion-button>
        <img src="assets/img/drift.png" />
      </button>
    </ion-buttons>
    <ion-buttons class="select-button" right (click)="goRequests()">
      <button ion-button>
        {{'Button.Requests' | translate}}
      </button>
    </ion-buttons>
    <ion-buttons class="select-button active" right>
      <button ion-button disabled>
        {{'Button.Sent' | translate}}
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding id="travelsSent">
  <div *ngIf="noRequest" class="no-request">{{'Label.NoSentDriftRequest' | translate}}</div>
  <ion-list no-lines>
    <div [@listItemState]="'in'" class="request-area" *ngFor="let request of requests; let i=index">
      <ion-item class="requesting" *ngIf="request.status == 'open'">
        <ion-thumbnail item-start>
          <img src="{{request.pictureurl}}"/>
        </ion-thumbnail>
        <div class="item-content">
          <p class="content">{{'Label.SentDriftRequest' | translate: request.transparam}}</p>
          <button ion-button round class="drift-btn" (click)="cancelRequest(i, request)">{{'Button.CancelRequest' | translate}}</button>
        </div>
      </ion-item>
    </div>
    <div class="denied-area" *ngFor="let request of requests">
      <ion-item class="denied" *ngIf="request.status == 'rejected'">
        <ion-thumbnail item-start>
          <img src="{{request.pictureurl}}"/>
        </ion-thumbnail>
        <div class="item-content">
          <p class="content">{{'Label.DeniedDriftRequest' | translate: request.transparam}}</p>
        </div>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
