page-settings-password {
  #settingsPassword {
    form {
      padding: 30px 0px;
    }
    p {
      margin-top: 0px;
    }
    input {
      border: none;
      background-color: #e3eff1;
      width: 100%;
      min-height: 30px;
      padding-left: 5px;
      margin: 0px;
    }
    .row {
      min-height: 55px;
      margin-left: 0px;
      margin-right: 0px;
    }
    .error-message {
      color: red;
    }
    .item-inner {
      border: none;
    }
    button.save {
      width: 40%;
      min-width: 160px;
      line-height: 35px;
      height: 50px;
      font-size: 27px;
      margin: 5px auto;
      margin-top: 50px;
    }
  }
}
