<!--
  Generated template for the SettingsPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons class="arrow-button" left (click)="goBack()">
      <button ion-button>
        <img src="assets/img/leftarrow.png" />
      </button>
    </ion-buttons>
    <ion-title>{{'Button.ChangePassword' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="settingsPassword" padding>
  <form class="form" [formGroup]="changePasswordGroup" (ngSubmit)="onSubmit()">
    <ion-row>
      <ion-col col-4>{{'Label.OldPassword' | translate}}</ion-col>
      <ion-col col-8>
        <input type="password" formControlName="oldPassword"/>
        <div class="validation-errors">
          <ng-container>
            <div class="error-message" *ngIf="changePasswordGroup.get('oldPassword').hasError('required') && (changePasswordGroup.get('oldPassword').dirty || changePasswordGroup.get('oldPassword').touched || submitted)">
              {{'ValidationMessage.Password.Required' | translate}}
            </div>
            <div class="error-message" *ngIf="changePasswordGroup.get('oldPassword').hasError('validPassword') && (changePasswordGroup.get('oldPassword').dirty || changePasswordGroup.get('oldPassword').touched || submitted)">
              {{'ValidationMessage.Password.OldPassword' | translate}}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <div class="password-area" formGroupName="matchingPasswords">
      <ion-row>
        <ion-col col-4>{{'Label.NewPassword' | translate}}</ion-col>
        <ion-col col-8>
          <input type="password" formControlName="newPassword"/>
          <div class="validation-errors">
            <ng-container>
              <div class="error-message" *ngIf="changePasswordGroup.get('matchingPasswords').get('newPassword').hasError('required') && (changePasswordGroup.get('matchingPasswords').get('newPassword').dirty || changePasswordGroup.get('matchingPasswords').get('newPassword').touched || submitted)">
                {{'ValidationMessage.Password.Required' | translate}}
              </div>
              <div class="error-message" *ngIf="changePasswordGroup.get('matchingPasswords').get('newPassword').hasError('minlength') && (changePasswordGroup.get('matchingPasswords').get('newPassword').dirty || changePasswordGroup.get('matchingPasswords').get('newPassword').touched || submitted)">
                {{'ValidationMessage.Password.Minlength' | translate}}
              </div>
              <div class="error-message" *ngIf="changePasswordGroup.get('matchingPasswords').get('newPassword').hasError('pattern') && (changePasswordGroup.get('matchingPasswords').get('newPassword').dirty || changePasswordGroup.get('matchingPasswords').get('newPassword').touched || submitted)">
                {{'ValidationMessage.Password.Pattern' | translate}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>{{'Label.ConfirmPassword' | translate}}</ion-col>
        <ion-col col-8>
          <input type="password" formControlName="confirmPassword"/>
          <div class="validation-errors">
            <ng-container>
              <div class="error-message" *ngIf="changePasswordGroup.get('matchingPasswords').get('confirmPassword').hasError('required') && (changePasswordGroup.get('matchingPasswords').get('confirmPassword').dirty || changePasswordGroup.get('matchingPasswords').get('confirmPassword').touched || submitted)">
                {{'ValidationMessage.ConfirmPassword.Required' | translate}}
              </div>
            </ng-container>
            <!-- These validations are for the form group -->
            <div class="validation-errors">
              <ng-container>
                <div class="error-message" *ngIf="changePasswordGroup.get('matchingPasswords').hasError('areEqual') && (changePasswordGroup.get('matchingPasswords').get('confirmPassword').dirty || changePasswordGroup.get('matchingPasswords').get('confirmPassword').touched || submitted)">
                  {{'ValidationMessage.MatchingPasswords.AreEqual' | translate}}
                </div>
              </ng-container>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <button class="drift-btn" ion-button round type="submit">{{'Button.Save' | translate}}</button>
  </form>
</ion-content>
