// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../assets/fonts/HelveticaNeue.ttf');
}
@font-face {
  font-family: 'GurmukhiSangamMN';
  src: url('../assets/fonts/GurmukhiSangamMN.ttf');
}
body,html{
    font-family:"Courier New", Courier, monospace;
}

ion-app {
  .btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: flex;
  }
}

ion-app.ios {
  font-family:"Courier New", Courier, monospace;
}

ion-app.android {
  font-family:"Courier New", Courier, monospace;
}

ion-app.md {
  font-family:"Courier New", Courier, monospace;
}

h2 {
  font-size: 22px;
  width: 90%;
  margin:40px auto;
}

h2.alert-title{
  width: 100%;
  font-weight: bold;
  text-align: center;
  img {
    width: 80px;
  }
}

button.drift-btn {
  font-family: 'GurmukhiSangamMN';
  background-color: #a4cbd1;
  color: white;
  display: block;
  text-align: center;
  text-transform: none;
  line-height: 45px;
  min-height: 45px;
  height: 45px;
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, .2);
}

span.badge {
  background-color: #efa2a2;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  padding: 5px;
  font-weight: bold;
  min-width: 28px;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-left: 10px;
  font-family: 'GurmukhiSangamMN';
}

.sos-area {
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  position: fixed;
  bottom: 20px;
  right: 15px;
  font-size: 20px;
  padding: 25px 0px;
  text-align: center;
  .badge {
    margin-left: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
  }
}
.login-input {
  background-color:#f4f5f7;
}

ion-modal.inset-modal {
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .25s ease-in-out;
  padding: 20vh 10vw;
}

.mapboxgl-ctrl-geocoder{
  width: 100%;
  input {
    position: absolute;
    top: 115px;
    width: 90%;
    left: 5%;
    padding: 5px 8px;
    border: none;
    background-color: rgba(200, 200, 200, 0.5);
    font-weight: bold;
    z-index: 4;
  }
  .suggestions {
    position: absolute;
    display: block !important;
    top: 25px;
    width: 90%;
    height: 0px;
    overflow: scroll;
    left: 5%;
    background-color: rgba(255, 255, 255, .8);
    list-style: none;
    padding-left: 8px;
    border: 1px solid #eee;
    z-index: 4;
    li {
      padding: 5px 0px;
      border-bottom: 1px solid #eee;
      a {
        color: #8ca8a9;
        font-weight: bold;
      }
    }
  }
}
.geocoder-icon-search{
  display: none;
}

.right-community-message {
  position: fixed;
  width: 40%;
  right: 0px;
  bottom: 40px;
  .item {
    display: inline-block;
    position: fixed;
    width: 40%;
    transition: all 0.5s ease; 
    .item-inner {
      display: inline-block;
      padding-right: 15px;
    }
    padding-left: 0px;
    background-color: transparent;
    .avatar {
      margin: 0px;
      position: absolute;
      img {
        width: 40px;
        height: 40px;
        border: 2px solid white;
        background-color: white;
      }
    }
    .message-content {
      margin-left: 15px;
      margin-top: 10px;
      border: 1px solid #aaa;
      border-radius: 30px;
      div {
        font-size: 12px;
        padding: 5px 5px 5px 20px;
        background-color: rgba(222,222,222, 0.6);
        border: 2px solid white;
        border-radius: 30px;
        word-break: break-word;
      }
    }
  }
}
.left-community-message {
  position: fixed;
  width: 40%;
  left: 10px;
  bottom: 40px;
  .item {
    display: inline-block;
    position: fixed;
    width: 40%;
    transition: all 0.5s ease; 
    .item-inner {
      display: inline-block;
      padding-right: 15px;
    }
    padding-left: 0px;
    background-color: transparent;
    .avatar {
      margin: 0px;
      position: absolute;
      img {
        width: 40px;
        height: 40px;
        border: 2px solid white;
        background-color: white;
      }
    }
    .message-content {
      margin-left: 15px;
      margin-top: 10px;
      border: 1px solid #aaa;
      border-radius: 30px;
      div {
        font-size: 12px;
        padding: 5px 5px 5px 20px;
        background-color: rgba(222,222,222, 0.6);
        border: 2px solid white;
        border-radius: 30px;
        word-break: break-word;
      }
    }
  }
}
.toolbar {
  height: 70px;
  background-color: white;
  .toolbar-background{
    background-color: white;
  }
  .menu-button, .arrow-button {
    button {
      height: 60px;
    }
    img {
      height: 50px;
      margin: 5px 10px;
    }
  }
  .toolbar-title{
    font-size: 25px;
    text-align: center;
    font-weight: 500;
  }
  .select-button {
    width: calc(50% - 60px);
    button {
      width: calc(100% - 5px);
      height: 50px;
      border-radius: 30px;
      font-size: 30px;
      border: 1px solid;
      color: #8ca8a9;
      border-color: #8ca8a9;
      text-transform: none;
      font-family: 'GurmukhiSangamMN';
      box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .2);
    }
    button.activated {
      background-color: #8ca8a9;
      color: white;
    }
    button.active {
      background-color: #8ca8a9;
      color: white;
    }
  }
  .title {
    .name {
      text-align: center;
      font-size: 20px;
    }
    .profession {
      text-align: center;
      font-size: 18px;
    }
  }
  .badge {
    right: 3px;
    top: 3px;
  }
}
#menu {
  .menu-inner {
    width: calc(100% - 80px);
    .content {
      background-color: #eef5f6;
    }
  }
  .item {
    background-color: #eef5f6;
  }
  .item-block:first-child {
    border-top: 2px solid white;
  }
  .item-block .item-inner {
    border-bottom: 2px solid white;
  }
  .item-block:last-child .item-inner{
    border-bottom: 0px;
  }
  .item-block:last-child {
    border-bottom: 3px solid white;
  }
  .menu-icon {
    font-size: 40px;
    opacity: 0.7;
    min-width: 40px;
  }
  .menu-button {
    width: 30px;
    height: 30px;
    background-color: #efa2a2;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    padding: 2px;
    text-align: center;
    font-family: 'GurmukhiSangamMN';
  }
  .user-img {
    text-align: center;
    img {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      margin: 25px auto;
    }
  }
  .menu-content {
    font-size: 22px;
    color: #8e9093;
    font-family: 'GurmukhiSangamMN';
    text-align: left;
  }
  .label {
    font-weight: normal;
    padding: 0px;
    white-space: normal;
  }
}
.map-container {
  .mapboxgl-canvas {
    border: 10px solid white;
  }
  button.drift-button{
    color: white;
    background-color: black;
    position: fixed;
    z-index: 2;
    bottom: 0px;
    cursor: pointer;
    font-weight: 400;
    border-radius: 0px;
    width: 100%;
  }
  img.back-arrow {
    position: fixed;
    z-index: 1;
    width: 50px;
    left: 20px;
    cursor: pointer;
  }
  .photo-marker, .user-marker, .drifter-marker{
    display: block;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 50px;
    height: 70px;
    background-color: white;
    text-align: center;
    position: absolute;
    padding: 3px;
    border-radius: 1px;
    z-index: 1;
  }
  .drifter-marker {
    background-color: #e3eff1;
    .marker-title {
      background-color: #e3eff1;
    }
  }
  .driftpoint-marker, .endpoint-marker, .destination-marker{
    display: block;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 50px;
    height: 35px;
    text-align: center;
    position: absolute;
  }
  .circle-marker {
    display: block;
    border: none;
    cursor: pointer;
    padding: 0;
    text-align: center;
    position: absolute;
    background-color: #8ca8a9;
    border-radius: 50%;
    z-index: 2;
  }
  .star-img {
    width: 30px;
    margin-top: -15px;
    margin-left: 30px;
    position: absolute;
  }
  .current-img {
    width: 50px;
    height: 25px;
  }
  .user-img, .photo-img {
    width: 50px;
    height: 50px;
    z-index: 1;
  }
  .driftpoint-img, .endpoint-img, .destination-img{
    width: 50px;
    height: 35px;
  }
  .marker-img {
    width: 30px;
    height: 50px;
  }
  .marker-title {
    font-size: 12px;
    margin-top: 0px;
    height: 18px;
    width: 45px;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    margin-top: -5px;
    padding-top: 2px;
    background-color: white;
  }
  .shadow-area {
    width: calc(100% - 20px);
    position: absolute;
    overflow-x: hidden;
    height: 200px;
    top: 120px;
    left: 10px;
    .shadow {
      margin-top: -1px;
      box-shadow: inset 0px 3px 3px rgba(255, 255, 255, .4), inset 0px -2px 2px rgba(6, 56, 95, 0.4), 0px 0px 80px 40px #5bc3ff;
      height: 1px;
      position: absolute;
      width: 100%;
    }
  }
  #steps {
    width: calc(100% - 20px);
    position: absolute;
    overflow: hidden;
    height: 120px;
    left: 10px;
    z-index: 3;
    background: linear-gradient(#0c9286, #007f5e);
    .direction {
      width: 40px;
      height: 40px;
      position: absolute;
      left: 30px;
      top: 20px;
    }
    .distance {
      position: absolute;
      z-index: 1;
      color: white;
      font-size: 30px;
      top: 80px;
      left: 10px;
      font-weight: bold;
    }
    .instruction {
      position: absolute;
      z-index: 1;
      font-size: 18px;
      font-weight: 600;
      color: white;
      width: calc(100% - 145px);
      right: 10px;
      text-align: left;
      overflow: hidden;
      bottom: 25px;
      max-height: 70px;
    }
  }
  #then {
      position: absolute;
      top: 120px;
      right: 10px;
      background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#333));
      background: linear-gradient(#777, #333);
      -webkit-box-shadow: inset 1px 0px 5px rgba(255, 255, 255, 0.4), inset 0px -1px 5px rgba(0, 0, 0, 0.4);
      box-shadow: inset 1px 0px 5px rgba(255, 255, 255, 0.4), inset 0px -1px 5px rgba(0, 0, 0, 0.4);
      padding: 10px;
      border-radius: 5px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      .thenstring {
        font-size: 18px;
        font-weight: bold;
        color: #9E9E9E;
        padding-bottom: 10px;
      }
      .ndirection {
        width: 40px;
        height: 40px;
      }
    }
}
