<ion-nav #appNav #content [root]="rootPage"></ion-nav>
<ion-menu [content]="content" id="menu" swipeEnabled="{{swipeEnabled}}">
  <ion-content>
    <div class="user-img">
      <img src="{{userImg}}" />
    </div>
    <ion-list>
      <ion-item (click)="goProfile()" menuClose>
        <ion-icon name="ios-person" item-start class="menu-icon"></ion-icon>
        <p class="menu-content">{{'Menu.Profile' | translate}}</p>
      </ion-item>
      <ion-item (click)="goTravels()" menuClose>
        <ion-icon name="ios-car" item-start class="menu-icon"></ion-icon>
        <p class="menu-content">{{'Menu.Travels' | translate}}</p>
        <button *ngIf="opendriftrequestcount > 0" item-end class="menu-button">{{opendriftrequestcount}}</button>
      </ion-item>
      <ion-item (click)="goCompanions()" menuClose>
        <ion-icon name="ios-people" item-start class="menu-icon"></ion-icon>
        <p class="menu-content">{{'Menu.Friends' | translate}}</p>
        <button *ngIf="opencompanionrequestcount > 0" item-end class="menu-button">{{opencompanionrequestcount}}</button>
      </ion-item>
      <ion-item (click)="goChats()" menuClose>
        <ion-icon name="ios-chatbubbles" item-start class="menu-icon"></ion-icon>
        <p class="menu-content">{{'Menu.Chats' | translate}}</p>
        <button *ngIf="getTotal_Unread_Chat_Count() > 0" item-end class="menu-button">{{getTotal_Unread_Chat_Count()}}</button>
      </ion-item>
      <ion-item (click)="goSettings()" menuClose>
        <ion-icon name="ios-settings" item-start class="menu-icon"></ion-icon>
        <p class="menu-content">{{'Menu.Settings' | translate}}</p>
        <button item-end class="menu-button" [hidden]="true"></button>
      </ion-item>
      <ion-item (click)="goSupport()" menuClose>
        <ion-icon name="ios-call" item-start class="menu-icon"></ion-icon>
        <p class="menu-content">{{'Menu.Support' | translate}}</p>
        <button item-end class="menu-button" [hidden]="true"></button>
      </ion-item>
      <ion-item (click)="goLogout()" menuClose>
        <ion-icon name="ios-log-out" item-start class="menu-icon"></ion-icon>
        <p class="menu-content">{{'Menu.Logout' | translate}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>