<!--
  Generated template for the DriverReachedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding id="driverReached" (click)="goBack()">
  <div class="logo-area">
    <img class="logo" src="assets/img/logo.png" />
  </div>
  <div class="content-area">
    {{'Label.ReachedDestination' | translate}}
  </div>
</ion-content>
