page-driver-reached {
  #driverReached {
    background-image:url('../assets/img/login.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    text-align:center;
    border: 15px solid white;
    img {
      width: 60%;
      margin-top: 15%;
    }
    .content-area {
      font-size: 35px;
      padding: 30px 0px;
      color: #333;
    }
  }
}
