page-end-navigation {
  #endNavigation {
    background-image:url('../assets/img/login.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    text-align:center;
    border: 5px solid white;
    .question {
      background-color: white;
      margin: 20px 0px 20px 0px;
      font-size: 20px;
      padding: 20px;
      min-height: 150px;
      text-align: left;
      color: #aaa;
    }
    .button-area {
      .list {
        margin: auto;
      }
      .item {
        background-color: transparent;
        padding: 0px;
        margin: 0px;
        box-shadow: none;
      }
      .item-inner {
        box-shadow: none;
      }
      .label {
        margin: 0px;
        padding: 5px 10px;
      }
      button.drift-btn {
        width: 60%;
        min-width: 180px;
        margin: 5px auto;
        font-size: 24px;
      }
    }
  }
}
