<!--
  Generated template for the TravelsRequestsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons class="arrow-button" left (click)="goBack()">
      <button ion-button>
        <img src="assets/img/leftarrow.png" />
      </button>
    </ion-buttons>
    <ion-buttons class="select-button" right (click)="goDrift()">
      <button ion-button>
        <img src="assets/img/drift.png" />
      </button>
    </ion-buttons>
    <ion-buttons class="select-button active" right>
      <button ion-button disabled>
        {{'Button.Requests' | translate}}
      </button>
    </ion-buttons>
    <ion-buttons class="select-button" right (click)="goSent()">
      <button ion-button>
        {{'Button.Sent' | translate}}
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding id="travelsRequests">
  <div *ngIf="noRequest" class="no-request">{{'Label.NoDriftRequest' | translate}}</div>
  <ion-list no-lines>
    <ion-item [@listItemState]="'in'" *ngFor="let request of requests; let i=index">
      <ion-thumbnail class="user" item-start (click)="goUser(request)">
        <img src="{{request.pictureurl}}"/>
      </ion-thumbnail>
      <div class="item-content">
        <ion-item>
          <div class="detail">
            <div class="with">{{'Label.DriftWith' | translate: request.transparam}}</div>
            <div class="distance">{{'Label.Distance' | translate}}<p>{{request.distance}}km</p></div>
            <div class="btn-area">
              <button ion-button round (click)="acceptRequest(i, request)">{{'Button.Accept' | translate}}</button>
              <button ion-button round (click)="rejectRequest(i, request)">{{'Button.Deny' | translate}}</button>
            </div>
          </div>
          <ion-thumbnail class="arrow" item-end (click)="goUserDrift(request)">
            <img src="assets/img/rightarrow.png"/>
          </ion-thumbnail>
        </ion-item>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
