page-travels-requests {
  .header {
    .toolbar {
      height: 85px;
    }
  }
  .toolbar {
    .select-button.active {
      background-color: #a4cbd1;
      color: white;
      button {
        opacity: 1;
        color: white;
      }
    }
    .select-button {
      width: calc(33% - 15px);
      border: 2px solid #a4cbd1;
      height: 100%;
      margin: 2px;
      white-space: nowrap;
      text-overflow: ellipsis;
      button {
        width: 100%;
        height: 100%;
        padding: 5px;
        font-size: 22px;
        color: #a4cbd1;
        text-transform: none;
        margin-left: 0px;
        font-family: 'GurmukhiSangamMN';
        border-radius: 0px;
        box-shadow: none;
        border: none;
        .button-inner {
          overflow: hidden;
          white-space: normal;
        }
      }
      img {
        height: 50px;
        width: 100%;
      }
      button.activated {
        background-color: white;
        color: #a4cbd1;
      }
    }
  }
  #travelsRequests {
    padding: 10px;
    .scroll-content{
      padding: 10px;
    }
    .item {
      padding-left: 0px;
      .item-inner{
        padding-right: 0px;
      }
      .label {
        margin: 5px 5px 5px 0px;
        padding: 0px;
        color: #000;
        text-align: left;
        font-weight: normal;
      }
    }
    .user {
      margin: 5px 5px 5px 0px;
      img {
        width: 80px;
        height: 120px;
      }
    }
    .arrow {
      max-width: 25px;
      min-width: 25px;
      height: 60px;
      margin-right: 0px;
      margin-left: 0px;
    }
    .item-content {
      height: 120px;
      border: 2px solid #a4cbd1;
      padding: 0px 10px;
      .detail {
        font-size: 14px;
      }
      .distance {
        margin: 10px 0px;
        p {
          margin-left: 10%;
          width: 40%;
          border: 1px solid #a4cbd1;
          padding: 5px 3px;
          display: inline-block;
        }
      }
      .btn-area {
        button {
          background-color: #a4cbd1;
          color: white;
          width: 35%;
          min-width: 80px;
          line-height: 25px;
          min-height: 25px;
          font-size: 12px;
          margin: 10px auto 3px auto;
          font-weight: 300;
          text-transform: none;
          border: none;
          font-family: 'GurmukhiSangamMN';
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
        }
      }
    }
  }
}
