<!--
  Generated template for the UserMessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons class="arrow-button" left (click)="goBack()">
      <button ion-button>
        <img src="assets/img/leftarrow.png" />
      </button>
    </ion-buttons>
    <ion-title>
      {{'Button.SendMessage' | translate}}
    </ion-title>
    <ion-buttons class="menu-button" right>
      <button ion-button menuToggle>
        <img src="assets/img/menu.png" />
        <span *ngIf="getTotalRequestCount() > 0" class="badge">{{getTotalRequestCount()}}</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content id="userMessage" padding>
  <img src="{{userImage}}" />
  <div class="name">{{user.nickname}}</div>
  <textarea [(ngModel)]="message"></textarea>
  <button class="drift-btn send" ion-button round type="button" (click)="send()">{{'Button.SendMessage' | translate}}</button>
</ion-content>

