page-user-message {
  #userMessage {
    text-align: center;
    img {
      width: 40%;
      border: 3px solid #a4cbd1;
      margin-bottom: 5px;
    }
    .name {
      font-size: 20px;
      margin-bottom: 20px;
    }
    textarea {
      border: 1px solid #a4cbd1;
      padding: 10px;
      font-size: 15px;
      width: 90%;
      height: 300px;
      text-align: left;
      margin-bottom: 20px;
    }
    button.send{
      width: 45%;
      min-width: 150px;
      line-height: 40px;
      min-height: 45px;
      font-size: 20px;
      margin: 5px auto;
    }
  }
}
