<ion-header #chatheader no-border>
  <ion-toolbar>
    <ion-buttons class="arrow-button" left (click)="goBack()">
      <button ion-button>
        <img src="assets/img/leftarrow.png" />
      </button>
    </ion-buttons>
    <ion-title>{{'Menu.Chats' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="chats">
  <div id='guapp-chat'>
  </div>
</ion-content>
