page-chats {
    ion-header.inside-room {
        display: none !important;
    }

    ion-content.inside-room {
        .fixed-content {
            margin-top: 0 !important;
        }

        .scroll-content {
            margin-top: 10px !important;
        }
        #chatcontainer {
            height: calc(100vh - 136px) !important;                
        }
    }

    .toolbar {
        height: 80px;
        background-color: white;

        .toolbar-background {
            background-color: white;
        }

        .arrow-button {
            button {
                height: 60px;
            }

            img {
                height: 50px;
                margin: 10px;
            }
        }

        .toolbar-title {
            font-size: 25px;
            text-align: center;
            font-weight: 500;
        }
    }

    #chats {
        #guapp-chat {
            #header {
                display: none !important;
            }
            #chattitle {
                height: 70px;

                #chatwithImg {
                    height: 64px;
                    width: 64px;
                }

                #chatwith {
                    padding-top: 5px;
                    font-size: 1.5em;
                }
            }

            #chatcontainer {
                height: calc(100vh - 206px);                
            }
        }
    }
}
