page-drifter-hitch-map {
  .header {
    .toolbar {
      height: 85px;
    }
  }
  #drifterHitchMap {
    .drifter_hitch_map {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0px;
      bottom: 0px;
    }
    .menu-button, .arrow-button {
      height: 50px;
      margin: 10px;
      position: fixed;
      top: 10px;
    }
    .menu-button {  
      right: 10px;
    }
    .arrow-button {
      left: 10px;
    }
    .content-area {
      margin-top: 80px;
      padding: 10px;
      position: fixed;
      width: 100%;
      text-align: center;
      .question {
        font-size: 24px;
        padding: 20px;
        text-align: left;
        color: #333;
        font-weight: 500;
      }
      .plate {
        background-color: rgba(200, 200, 200, 0.5);
        width: 100%;
        padding: 0px 10px;
      }
      .done {
        margin-top: 200px;
      }
      .text-input{
        margin: 8px 8px 8px 0px;
      }
    }
    button.drift-btn{
      width: 45%;
      min-width: 120px;
      margin: 5px auto;
      font-size: 27px;
      margin-top: 40px;
    }
  }
}
