<!--
  Generated template for the DrifterHitchMapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons class="arrow-button" left (click)="goBack()">
      <button ion-button>
        <img src="assets/img/leftarrow.png" />
      </button>
    </ion-buttons>
    <ion-buttons class="menu-button" right>
      <button ion-button menuToggle>
        <img src="assets/img/menu.png" />
        <span *ngIf="getTotalRequestCount() > 0" class="badge">{{getTotalRequestCount()}}</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content id="drifterHitchMap" class="map-container">
  <div id="{{'drifter_hitch_map' + mapId}}" class="drifter_hitch_map"></div>
  <!-- <img class="arrow-button" src="assets/img/leftarrow.png" (click)="goBack()"/>
  <img menuToggle class="menu-button" src="assets/img/menu.png" /> -->
  <div class="content-area">
    <div class="question">{{'Label.FindSomeone' | translate}}</div>
    <ion-input class="plate" type="text" [(ngModel)]="platenumber" placeholder="{{'Placeholder.TypePlatenumber' | translate}}"></ion-input>
    <button class="drift-btn" ion-button round (click)="goDone()">{{'Button.Done' | translate}}</button>
  </div>
</ion-content>
