page-profile-companions {
  #profileCompanions {
    text-align: center;
    .scroll-content {
      padding: 5px 30px;
    }
    .row {
      margin-left: 0px;
      margin-right: 0px;
    }
    .request-area{
      text-align: center;
      background-color: #f1f7f8;
      padding: 10px;
      .badge {
        position: static;
      }
      .request-title {
        font-size: 18px;
        margin-bottom: 10px;
      }
      .requests-list {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        overflow: scroll;
        white-space: nowrap;
        text-align: left;
      }
      .request {
        display: inline-block;
        width: 90px;
        text-align: center;
        margin: 0px 3px;     
        .image {
          padding: 5px;
          font-size: 12px;
          background-color: white;
          img {
            width: 100%;
            height: 100px;
          } 
        }
        button {
          line-height: 24px;
          min-height: 25px;
          height: 25px;
          font-size: 12px;
          border-radius: 20px;
          margin: 5px auto;
          width: 100%;
        }
      }
    }
    .downarrow {
      width: 50px;
      margin: auto;
    }
    .search-area {
      margin-bottom: 10px;
      background-color: #f9fbfc;
      text-align: left;
      width: 100%;
      input {
        width: calc(100% - 60px);
        background-color: transparent;
        border: none;
        padding: 12px 0px 12px 10px;
      }
      .icon {
        font-size: 35px;
        color: #aaa;
        right: 40px;
        position: absolute;
        margin-top: 5px;
      }
    }
    .companions-list {
      img {
        width: 100%;
      }
      .name {
        margin: 5px 0px;
      }
    }
  }
}
