<!--
  Generated template for the ProfileCompanionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons class="arrow-button" left (click)="goBack()">
      <button ion-button>
        <img src="assets/img/leftarrow.png" />
      </button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="mycompanions">{{'Label.MyCompanions' | translate}}</span>
      <span *ngIf="!mycompanions">{{'Label.UserCompanions' | translate: transparam}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding id="profileCompanions">
  <div class="request-area" *ngIf="mycompanions && opencompanionrequestcount > 0">
    <div class="request-title">
      {{'Button.Requests' | translate}}
      <span class="badge">{{opencompanionrequestcount}}</span>
    </div>
    <div class="requests-list">
      <div class="request" *ngFor="let request of requests; let i=index;">
        <div class="image" (click)="goUser(request.otheruser_id)">
          <img src="{{request.pictureurl}}" />
          <div>{{request.nickname}}</div>
        </div>
        <button *ngIf="mycompanions" class="drift-btn" ion-button round (click)="goAccept(request, i)">{{'Button.Accept' | translate}}</button>
        <button *ngIf="mycompanions" class="drift-btn" ion-button round (click)="goDeny(request, i)">{{'Button.Deny' | translate}}</button>
      </div>
    </div>
  </div>
  <img *ngIf="mycompanions" class="downarrow" src="assets/img/downarrow.png" />
  <div *ngIf="mycompanions" class="search-area">
    <input type="text" [(ngModel)]="query" placeholder="{{'Placeholder.SearchPeople' | translate}}">
    <ion-icon name="search" (click)="search(query, 'new')"></ion-icon>
  </div>
  <div class="companions-list">
    <div class="no-companion" *ngIf="noCompanion">
      <span *ngIf="mycompanions">{{'Label.NoFriend' | translate}}</span>
      <span *ngIf="!mycompanions">{{'Label.UserNoFriend' | translate: transparam}}</span>
    </div>
    <div class="single-row" *ngFor="let companion of companions; let i = index">
      <ion-row *ngIf="i % 3 == 0">
        <ion-col col-4 *ngIf="i < companions.length" (click)="goUser(companions[i].user_id)">
          <img src="{{companions[i].pictureurl}}"/>
          <p class="name">{{companions[i].nickname}}</p>
        </ion-col>
        <ion-col col-4 *ngIf="(i+1) < companions.length" (click)="goUser(companions[i+1].user_id)">
          <img src="{{companions[i+1].pictureurl}}" />
          <p class="name">{{companions[i+1].nickname}}</p>
        </ion-col>
        <ion-col col-4 *ngIf="(i+2) < companions.length" (click)="goUser(companions[i+2].user_id)">
          <img src="{{companions[i+2].pictureurl}}" />
          <p class="name">{{companions[i+2].nickname}}</p>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="search(query, 'more', $event)" [enabled]="!noMorePeople" threshold="30%">
    <ion-infinite-scroll-content loadingSpinner="ios">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
