<!--
  Generated template for the ProfilePhotoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons class="arrow-button" left (click)="goBack()">
      <button ion-button>
        <img src="assets/img/leftarrow.png" />
      </button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="myphoto">{{'Label.MyPhoto' | translate}}</span>
      <span *ngIf="!myphoto">{{'Label.UserPhoto' | translate: transparam}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding id="profilePhoto">
  <div class="no-photo" *ngIf="nophoto">
    <span *ngIf="myphoto">{{'Label.NoPhoto' | translate}}</span>
    <span *ngIf="!myphoto">{{'Label.UserNoPhoto' | translate: transparam}}</span>
  </div>
  <ion-list no-lines>
    <ion-item class="photo" *ngFor="let photo of photos">
      <img src="{{photo.url}}" />
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="getPhotos($event)" [enabled]="!noMorePhoto" threshold="30%">
    <ion-infinite-scroll-content loadingSpinner="ios">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
