<!--
  Generated template for the EmergencyChoosePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons class="arrow-button" left (click)="goBack()">
      <button ion-button>
        <img src="assets/img/leftarrow.png" />
      </button>
    </ion-buttons>
    <ion-title>
      {{'Label.ChooseEmergencyContact' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding id="emergencyChoose">
  <div class="companions-list">
    <div class="no-companion" *ngIf="noCompanion">
      <span>{{'Label.NoFriend' | translate}}</span>
    </div>
    <div class="single-row" *ngFor="let companion of companions; let i = index">
      <ion-row *ngIf="i % 3 == 0">
        <ion-col col-4 *ngIf="i < companions.length" (click)="chooseUser(companions[i])">
          <img src="{{companions[i].pictureurl}}"/>
          <p class="name">{{companions[i].nickname}}</p>
        </ion-col>
        <ion-col col-4 *ngIf="(i+1) < companions.length" (click)="chooseUser(companions[i+1])">
          <img src="{{companions[i+1].pictureurl}}" />
          <p class="name">{{companions[i+1].nickname}}</p>
        </ion-col>
        <ion-col col-4 *ngIf="(i+2) < companions.length" (click)="chooseUser(companions[i+2])">
          <img src="{{companions[i+2].pictureurl}}" />
          <p class="name">{{companions[i+2].nickname}}</p>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="search(query, 'more', $event)" [enabled]="!noMorePeople" threshold="30%">
    <ion-infinite-scroll-content loadingSpinner="ios">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
