page-emergency-choose {
  #emergencyChoose{
    text-align: center;
    .scroll-content {
      padding: 5px 30px;
    }
    .row {
      margin-right: 0px;
      margin-left: 0px;
    }
    .search-area {
      margin-bottom: 10px;
      input {
        width: 100%;
        background-color: #f9fbfc;
        border: none;
        padding: 12px 50px 12px 10px;
      }
      .icon {
        font-size: 35px;
        color: #aaa;
        position: absolute;
        right: 40px;
        margin-top: -35px;
      }
    }
    .companions-list {
      img {
        width: 100%;
      }
      .name {
        margin: 5px 0px;
      }
    }
  }
}
