<!--
  Generated template for the DriftMatchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding id="driftMatch">
  <div class="question">
    {{'Label.DriftMatch' | translate: transparam}}
  </div>
  <img class="userimage" src="{{pictureurl}}"/>
</ion-content>
