page-drift-match {
  #driftMatch {
    background-image:url('../assets/img/login.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    text-align:center;
    border: 15px solid white;
    .userimage {
      width: 240px;
      height: 240px;
      border: 10px solid white;
      background-color: white;
      margin: 10px 0px 20px 0px;
    }
    .question {
      font-size: 35px;
      text-align: center;
      padding: 30px 0px;
      color: #555;
    }
  }
}
