<!--
  Generated template for the RegisterPerkPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content id="registerPerk">
  <h2>{{'Label.AddPerk' | translate}}</h2>
  <ion-list no-lines>
    <ion-item *ngFor="let perk of perks" (click)="perk.selected = !perk.selected">
      <ion-thumbnail class="perk-icon" item-start>
        <img src="{{perk.icon}}"/>
      </ion-thumbnail>
      <p class="perk-content" [style.color] = "(perk.selected == true) ? '#a4cbd1' : '#333'">{{ perk.name | translate}}</p>
      <ion-icon class="perk-check" item-end name="checkmark" [style.color] = "(perk.selected == true) ? '#a4cbd1' : '#333'"></ion-icon>
    </ion-item>
  </ion-list>
  <button class="drift-btn" ion-button round (click)="perkDone()">{{'Button.Done' | translate}}</button>
</ion-content>
