page-register-perk {
  #registerPerk {
    text-align: center;
    h2 {
      margin-top: 40px;
      color: rgba(0, 0, 0, 0.7);
    }
    .list {
      padding: 0px 15px;
    }
    .perk-icon {
      img{
        width: 60px;
        height: 60px;
        opacity: 0.7;
      }
    }
    .perk-content {
      font-size: 20px;
    }
    .perk-check {
      font-size: 40px;
    }
    button.drift-btn {
      width: 40%;
      min-width: 150px;
      font-size: 27px;
      margin: 40px auto 20px auto;
    }
  }
}
