<!--
  Generated template for the DrifterMapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons class="arrow-button" left (click)="goBack()">
      <button ion-button>
        <img src="assets/img/leftarrow.png" />
      </button>
    </ion-buttons>
    <ion-buttons right class="select-button" (click)="goDriver()">
      <button ion-button outline>
        Driver
      </button>
    </ion-buttons>
    <ion-buttons right class="select-button">
      <button class="active" ion-button outline>
        Drifter
      </button>
    </ion-buttons>
    <ion-buttons class="menu-button" right>
      <button ion-button menuToggle>
        <img src="assets/img/menu.png" />
        <span *ngIf="getTotalRequestCount() > 0" class="badge">{{getTotalRequestCount()}}</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content id="drifterMap" class="map-container">
  <div id="{{'drifter_map' + mapId}}" class="drifter_map"></div>
  <ion-list no-lines class="right-community-message">
    <ion-item (click)="goUser(message)" class="message-item" *ngFor="let message of rightCommunityMessages" [style.bottom.px] = "message.bottom">
      <ion-avatar *ngIf="message.userid !=null" class="avatar" item-start>
        <img src="{{message.pictureurl}}" />
      </ion-avatar>
      <div *ngIf="message.userid !=null" class="message-content" item-content>
        <div>{{message.message}}</div>
      </div>
    </ion-item>
  </ion-list>
  <ion-list no-lines class="left-community-message">
    <ion-item (click)="goUser(message)" class="message-item" *ngFor="let message of leftCommunityMessages" [style.bottom.px] = "message.bottom">
      <ion-avatar *ngIf="message.userid !=null" class="avatar" item-start>
        <img src="{{message.pictureurl}}" />
      </ion-avatar>
      <div *ngIf="message.userid !=null" class="message-content" item-content>
        <div>{{message.message}}</div>
      </div>
    </ion-item>
  </ion-list>
  <div class="badge-list">
    <div class="badge-area" *ngFor="let request of getTotalRequests(); trackBy: trackRequestsFn" [style.left.px]="request.left" (click)="goRequest(request)" [attr.type]="request.type">
      <img src="{{request.pictureurl}}" />
      <span class="badge">{{request.driftCount + request.companionCount + request.chatCount}}</span>
    </div>
  </div>
  <ion-input *ngIf="displayCommunityChat" class="community" maxlength="250" type="text" placeholder="{{'Placeholder.WriteSomething' | translate}}" [(ngModel)]="communityMessage" (keypress) = "changeMessage($event)"></ion-input>
  <img class="hitch" src="assets/img/bfa_thumbs.png" (click)="goHitch()"/>
  <div class="sos-area" (click)="goSos()">
    s.o.s
    <span *ngIf="showSosBadge" class="badge">1</span>
  </div>
</ion-content>
