page-drifter-map {
  .header {
    .toolbar {
      height: 85px;
    }
  }
  .toolbar .select-button button{
    font-size: 22px;
  }
  #drifterMap {
    .drifter_map {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0px;
      bottom: 0px;
    }
    .scroll-content {
      overflow: hidden;
    }
    .community{
      position: fixed;
      bottom: 20px;
      left: 25%;
      background-color: white;
      width: 50%;
      border-radius: 30px;
      padding-left: 10px;
    }
    .hitch {
      position: fixed;
      bottom: 100px;
      right: 15px;
      width: 75px;
      border-radius: 50%;
      opacity: 0.8;
      cursor: pointer;
    }
    .badge-area {
      position: absolute;
      width: 110px;
      height: 110px;
      bottom: 10px;
      transition: all 0.5s ease; 
      img {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background-color: white;
      }
    }
  }
}
