page-driver-user-destination {
  #driverUserDestination.hide-header {
    z-index: 100;
    .scroll-content {
      margin-top: 10px !important;
      transition: margin .5s linear; 
    }
  }
  #driverUserDestination{
    z-index: 0;
    .driver_user_destination_map {
      width: 100%;
      height: calc(100% - 120px);
      position: fixed;
      top: 120px;
      bottom: 0px;
    }
    .scroll-content {
      overflow: hidden;
      transition: margin .5s linear; 
    }
    button.drift-btn {
      width: 90%;
      bottom: 5px;
      left: 5%;
      right: 5%;
      position: fixed;
      font-size: 24px;
      z-index: 1;
    }
    .badge-area {
      position: absolute;
      transition: all 0.5s ease; 
      width: 110px;
      height: 110px;
      bottom: 60px;
      img {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background-color: white;
      }
    }
  }
}
