<!--
  Generated template for the DriverUserDestinationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons class="arrow-button" left (click)="goBack()">
      <button ion-button>
        <img src="assets/img/leftarrow.png" />
      </button>
    </ion-buttons>
    <ion-title>{{currentDestination}}</ion-title>
    <ion-buttons class="menu-button" right>
      <button ion-button menuToggle>
        <img src="assets/img/menu.png" />
        <span *ngIf="getTotalRequestCount() > 0" class="badge">{{getTotalRequestCount()}}</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content  id="driverUserDestination" class="map-container" [class.hide-header] = "hideFlag" (pan)="touchAction()" (tap)="touchAction()" (press)="touchAction()" (swipe)="touchAction()" (pinch)="touchAction()">
  <div id="{{'driver_user_destination_map' + mapId}}" class="driver_user_destination_map"></div>
  <div id="steps">
    <img id="direction" class="direction" src="assets/img/directions/direction_depart.png" />
    <div class="distance"><span id="distance">0</span><span id="unit" class="unit">m</span></div>
    <div id="instruction" class="instruction"></div>
  </div>
  <div class="shadow-area">
    <div class="shadow"></div>
  </div>
  <div id="then" class="then">
    <div class="thenstring">then</div>
    <img id="ndirection" class="ndirection" src="assets/img/directions/direction_arrive.png">
  </div>
  <div class="badge-list">
    <div class="badge-area" *ngFor="let request of getTotalRequests(); trackBy: trackRequestsFn" [style.left.px]="request.left" (click)="goRequest(request)" [attr.type]="request.type">
      <img src="{{request.pictureurl}}" />
      <span class="badge">{{request.driftCount + request.companionCount + request.chatCount}}</span>
    </div>
  </div>
  <div class="sos-area" (click)="goSos()">
    s.o.s
    <span *ngIf="showSosBadge" class="badge">1</span>
  </div>
  <button class="drift-btn" *ngIf="showDestination" ion-button round (click)="changeDestination()">To {{otherDestination}}</button>
</ion-content>
