page-drifter-select {
  #drifterSelect {
    .title {
      text-align: center;
      position: fixed;
      width: 100%;
      top: 70px;
      background-color: white;
      z-index: 3;
      .first {
        font-size: 25px;
        margin-bottom: 5px;
      }
      .second {
        font-size: 25px;
      }
    }
    .drifter_select_map {
      width: 100%;
      position: fixed;
      top: 120px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }
    .scroll-content {
      overflow: hidden;
    }
    .submit-area {
      top: 300px;
      position: fixed;
      width: 100%;
      button.drift-btn {
        width: 50%;
        min-width: 180px;
        font-size: 20px;
        margin: 20px auto;
        z-index: 1;
      }
    }
  }
}
