page-drifter-propose-hitch {
  #drifterProposeHitch {
    background-image:url('../assets/img/login.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    border: 15px solid white;
    .page-content {
      background-color: white;
      margin-top: 50px;
      margin-bottom: 60px;
      padding: 40px 10px;
      font-size: 18px;
      color: #999;
    }
    button.drift-btn {
      width: 70%;
      min-width: 120px;
      margin: 5px auto;
      font-size: 20px;
    }
  }
}
